<h2>世界の国の GDP</h2>
<p>世界の主要な国の<span>四半期GDPを調べていたら、データの収集に結構手間がかかったので実質GDPの前年同期比の増加率を一覧表にして公開してみます。四半期GDPは、各国の最近の経済状況を知るための最も基本的な資料です。</span></p>
<h5><span>世界の主要国の四半期<span>実質</span>GDPの増加率（前年同期比）<br /> </span></h5>
<div class="table-responsive">
    <table border="0" class="article">
        <tbody>
            <tr><th rowspan="2">　</th><th colspan="4" align="center">2008</th><th colspan="4" align="center">2009</th><th colspan="4" align="center">2010</th><th colspan="4" align="center">2011</th><th rowspan="2">公表予定</th><th rowspan="2">リンク</th></tr>
            <tr><th>Ⅰ</th><th>Ⅱ</th><th>Ⅲ</th><th>Ⅳ</th><th>Ⅰ</th><th>Ⅱ</th><th>Ⅲ</th><th>Ⅳ</th><th>Ⅰ</th><th>Ⅱ</th><th>Ⅲ</th><th>Ⅳ</th><th>Ⅰ</th><th>Ⅱ</th><th>Ⅲ</th><th>Ⅳ</th></tr>
            <tr>
                <td>日本</td>
                <td align="right">1.3</td>
                <td align="right">-0.3</td>
                <td align="right">-1.1</td>
                <td align="right">-4.5</td>
                <td align="right">-10.3</td>
                <td align="right">-7.0</td>
                <td align="right">-6.3</td>
                <td align="right">-1.5</td>
                <td align="right">5.7</td>
                <td align="right">3.1</td>
                <td align="right">5.4</td>
                <td align="right">3.1</td>
                <td align="right">-0.2</td>
                <td align="right">-1.7</td>
                <td align="right">-0.7</td>
                <td align="right"> </td>
                <td>2011Q4一次公表2/13</td>
                <td><a href="http://www.esri.cao.go.jp/jp/sna/sokuhou/sokuhou_top.html" target="_blank">リンク</a></td>
            </tr>
            <tr height="16">
                <td height="16">アメリカ</td>
                <td align="right">1.6</td>
                <td align="right">1.0</td>
                <td align="right">-0.6</td>
                <td align="right">-3.3</td>
                <td align="right">-4.5</td>
                <td align="right">-5.0</td>
                <td align="right">-3.7</td>
                <td align="right">-0.5</td>
                <td align="right">2.2</td>
                <td align="right">3.3</td>
                <td align="right">3.5</td>
                <td align="right">3.1</td>
                <td align="right">2.2</td>
                <td align="right">1.6</td>
                <td align="right">1.5</td>
                <td align="right">1.6</td>
                <td>2011Q4二次公表2/29　</td>
                <td><a href="http://www.bea.gov/national/index.htm#gdp" target="_blank">リンク</a></td>
            </tr>
            <tr>
                <td>EU</td>
                <td align="right">2.2</td>
                <td align="right">1.4</td>
                <td align="right">0.6</td>
                <td align="right">-1.9</td>
                <td align="right">-5.5</td>
                <td align="right">-5.7</td>
                <td align="right">-4.2</td>
                <td align="right">-1.9</td>
                <td align="right">1.0</td>
                <td align="right">2.3</td>
                <td align="right">2.2</td>
                <td align="right">2.1</td>
                <td align="right">2.4</td>
                <td align="right">1.7</td>
                <td align="right">1.4</td>
                <td align="right"> </td>
                <td>2011Q4一次公表2/15</td>
                <td><a href="http://epp.eurostat.ec.europa.eu/portal/page/portal/euroindicators/national_accounts" target="_blank">リンク</a></td>
            </tr>
            <tr>
                <td>韓国</td>
                <td align="right">5.5</td>
                <td align="right">4.4</td>
                <td align="right">-3.3</td>
                <td align="right">-3.3</td>
                <td align="right">-4.2</td>
                <td align="right">-2.1</td>
                <td align="right">1.0</td>
                <td align="right">6.3</td>
                <td align="right">8.5</td>
                <td align="right">7.5</td>
                <td align="right">4.4</td>
                <td align="right">4.7</td>
                <td align="right">4.2</td>
                <td align="right">3.4</td>
                <td align="right">3.5</td>
                <td align="right">3.4</td>
                <td>2012Q1 4月下旬</td>
                <td><a href="http://eng.bok.or.kr/broadcast.action?menuNaviId=634" target="_blank">リンク</a></td>
            </tr>
            <tr>
                <td>ロシア</td>
                <td align="right">9.2</td>
                <td align="right">7.9</td>
                <td align="right">6.4</td>
                <td align="right">-1.3</td>
                <td align="right">-9.2</td>
                <td align="right">-11.1</td>
                <td align="right">-8.6</td>
                <td align="right">-2.6</td>
                <td align="right">3.5</td>
                <td align="right">5.0</td>
                <td align="right">3.1</td>
                <td align="right">4.5</td>
                <td align="right">4.1</td>
                <td align="right">3.4</td>
                <td align="right">4.8</td>
                <td align="right"> </td>
                <td>2011Q4 2月中旬</td>
                <td><a href="http://www.gks.ru/wps/wcm/connect/rosstat/rosstatsite/main/account/" target="_blank">リンク</a></td>
            </tr>
            <tr>
                <td>中国</td>
                <td align="right">11.3</td>
                <td align="right">11.0</td>
                <td align="right">10.6</td>
                <td align="right">9.6</td>
                <td align="right">6.2</td>
                <td align="right">7.1</td>
                <td align="right">8.1</td>
                <td align="right">9.1</td>
                <td align="right">11.9</td>
                <td align="right">11.1</td>
                <td align="right">9.6</td>
                <td align="right">9.8</td>
                <td align="right">9.7</td>
                <td align="right">9.5</td>
                <td align="right">9.1</td>
                <td align="right">8.9</td>
                <td>2012Q1 4月中旬</td>
                <td><a href="http://www.stats.gov.cn/english/" target="_blank">リンク</a></td>
            </tr>
            <tr>
                <td>ブラジル</td>
                <td align="right">6.3</td>
                <td align="right">6.5</td>
                <td align="right">7.1</td>
                <td align="right">0.8</td>
                <td align="right">-3.0</td>
                <td align="right">-2.8</td>
                <td align="right">-1.8</td>
                <td align="right">5.5</td>
                <td align="right">9.3</td>
                <td align="right">9.2</td>
                <td align="right">6.9</td>
                <td align="right">5.3</td>
                <td align="right">4.2</td>
                <td align="right">3.3</td>
                <td align="right">2.1</td>
                <td align="right"> </td>
                <td>2011Q4 3/6</td>
                <td><a href="http://www.ibge.gov.br/english/estatistica/indicadores/pib/defaulttabelas.shtm" target="_blank">リンク</a></td>
            </tr>
            <tr>
                <td>トルコ</td>
                <td align="right">7.0</td>
                <td align="right">2.6</td>
                <td align="right">0.9</td>
                <td align="right">-7.0</td>
                <td align="right">-14.7</td>
                <td align="right">-7.8</td>
                <td align="right">-2.8</td>
                <td align="right">5.9</td>
                <td align="right">12.2</td>
                <td align="right">10.2</td>
                <td align="right">5.3</td>
                <td align="right">9.2</td>
                <td align="right">12.0</td>
                <td align="right">8.8</td>
                <td align="right">8.2</td>
                <td align="right"> </td>
                <td>2011Q4 4/2</td>
                <td><a href="http://www.turkstat.gov.tr/AltKategori.do?ust_id=16" target="_blank">リンク</a></td>
            </tr>
            <tr>
                <td>インドネシア</td>
                <td align="right">6.2</td>
                <td align="right">6.3</td>
                <td align="right">6.2</td>
                <td align="right">5.3</td>
                <td align="right">4.6</td>
                <td align="right">4.2</td>
                <td align="right">4.2</td>
                <td align="right">5.4</td>
                <td align="right">5.6</td>
                <td align="right">6.1</td>
                <td align="right">5.8</td>
                <td align="right">6.9</td>
                <td align="right">6.5</td>
                <td align="right">6.5</td>
                <td align="right">6.5</td>
                <td align="right">6.5</td>
                <td>2012Q1 5月上旬</td>
                <td><a href="http://dds.bps.go.id/eng/aboutus.php?tabel=1&amp;id_subyek=11" target="_blank">リンク</a></td>
            </tr>
        </tbody>
    </table>
</div>
<p><span>※四半期GDPの増加率については、前年同期比を採用しています。前期比、年率換算の前期比もよく使われますが、国によっては季節調整をしたGDPが公開されていない場合があるので前年同期比としました。また、実質化の方法についても、国によって連鎖方式のところと固定基準年方式のところがあります。</span></p>
<h6>2011年第4四半期</h6>
<p>中国は、対前年同期比で8.9%と伸び率が低下してきているものの依然として高い成長率を維持し ています。韓国では、前期比が0.4%の増加で、Q3の0.8%より伸びが鈍化しています。内容をみると、民間消費支出が-0.4%、政府消費支出が-1.7%、設備投資が-5.2%、輸出が-1.5%となっており、欧州債務危機の影響が出ていると考えられます。</p>
<h6>2011年第3四半期</h6>
<p>中国は、対前年同期比で9.1%と依然として高い成長率を維持しています。雇用が伸びているというのも高い成長率を維持している要因です。また、インフレ抑制が課題ですが、CPIは9月には前年同月と比較して6.1%となり、やや減少傾向となっています。韓国では、季節調整済みの前期比が0.7%の増加で、Q2の0.9%より伸びが鈍化しています。その要因としては、設備投資が前期比0.4％の減少となったことが影響していると思われます。なお、個人消費は0.6%の増加となっています。インドネシアでは、前年同月と比較して6.5%の増加と高い伸び率を維持しています。家計消費支出も4.8%増と引き続き好調です。</p>
<p><span>アメリカの実質ＧＤＰの改定値は前期比2.0％増<span>（年率換算）</span>で、速報値の2.5%よりマイナス改訂となりましたが、Q2の1.3%よりは伸びています。 <span>その要因としては、個人消費が前期比で2.3％<span><span><span><span>増</span></span>（年率換算）</span></span>と少しだけ持ち直しています。ブラジルでは、前期比0.0%で、経済成長が減速してきています。<br /> </span></span></p>
<p><span>EUでは、対前期比0.2％、対前年比1.4％の増加で、伸びが鈍化しています。<br /> </span></p>
<h6>2011年第2四半期</h6>
<p>中国は前期よりも若干成長率が低下したものの依然として高い成長率を維持しています。CPIが6.4%と高水準になっていることから、インフレとの戦いが課題となっています。韓国では、季節調整済みの前期比が0.8%の増加、前年同期比が3.4%の増加となり伸びが鈍化しています。季節調整済みの前期比で、製造業がQ1の3.1%の増から1.5%の増、輸出がQ1の3.3%の増から1.8%の増にそれぞれ伸びが鈍化したことが大きな要因となっています。 <span>ロシアでは、前期よりも成長率が低下したものの、日米欧よりも高い成長率を維持しています。</span></p>
<p><span>アメリカの実質ＧＤＰの確報値は前期比1.3％増<span>（年率換算）</span>で伸びが鈍化しています。個人消費が前期比年率で0.7％増と低い伸びになったのが大きな要因になっています。ただ、二次速報値よりも上方修正されたことから二番底懸念は後退しています。ブラジルでも、前期比の0.8%の増加と成長率が低下してきており景気の後退が鮮明になってきています。</span></p>
<p><span>EUでは、実質GDPが対前期比0.2％（年率換算で0.7%）、対前年比1.7％の増加で、伸びが鈍化しています。債務危機が深刻化しており、今後景気が後退する恐れも出てきています。<br /> </span></p>
<h6><span>2011年第1四半期</span></h6>
<p><span>中国は引き続き高い成長率を維持しています。また、韓国も中国への輸出が好調で順調に推移しています。ロシアは、対前年比では成長率が低下したものの、日米欧よりも高い成長率を維持しています。<br /> </span></p>
<p><span>アメリカの実質ＧＤＰの速報値は前期比1.8％増<span>（年率換算）</span>で前期の3.1%に比べやや減速しています。輸出、個人消費、政府支出、民間設備投資ともに伸び率が減少しています。</span></p>
<p><span>EUでは、対前期比で 0.8%、対前年同期比で 2.5% の増加で、成長が加速しました。対前年同期比で、ドイツは 4.8%、フランスは 2.2% の増加となっており好調ですが、ギリシャは 4.8%、ポルトガルは 0.7% の減少と依然不調です。<br /> </span></p>
<h3>GDP と人口のデータの入手先</h3>
<p>年次のGDPと人口は、国の最も基本的な情報です。これらのデータは、以下のページから入手することができます。</p>
<h6>１．日本語のページ</h6>
<p>統計局の<a href="http://www.stat.go.jp/data/sekai/">世界の統計のページ</a>から世界の様々な統計を編集したものを取得できる。<a href="http://www.stat.go.jp/data/sekai/02.htm">第2章人口</a>、<a href="http://www.stat.go.jp/data/sekai/03.htm">第3章国民経済計算</a>に世界の人口と GDP がわかりやすくまとめられている。</p>
<p>Wikipediaには、以下のGDP の国の比較がある。</p>
<ul>
    <li><a href="http://ja.wikipedia.org/wiki/%E5%9B%BD%E3%81%AE%E5%9B%BD%E5%86%85%E7%B7%8F%E7%94%9F%E7%94%A3%E9%A0%86%E3%83%AA%E3%82%B9%E3%83%88_%28%E7%82%BA%E6%9B%BF%E3%83%AC%E3%83%BC%E3%83%88%29"> 国の国内総生産順リスト (為替レート)</a></li>
    <li><a href="http://ja.wikipedia.org/wiki/%E5%9B%BD%E3%81%AE%E5%9B%BD%E5%86%85%E7%B7%8F%E7%94%9F%E7%94%A3%E9%A0%86%E3%83%AA%E3%82%B9%E3%83%88_%28%E4%B8%80%E4%BA%BA%E5%BD%93%E3%82%8A%E7%82%BA%E6%9B%BF%E3%83%AC%E3%83%BC%E3%83%88%29"> 国の国内総生産順リスト (一人当り為替レート)</a></li>
    <li><a href="http://ja.wikipedia.org/wiki/%E5%9B%BD%E3%81%AE%E5%9B%BD%E5%86%85%E7%B7%8F%E7%94%9F%E7%94%A3%E9%A0%86%E3%83%AA%E3%82%B9%E3%83%88_%28%E8%B3%BC%E8%B2%B7%E5%8A%9B%E5%B9%B3%E4%BE%A1%29"> 国の国内総生産順リスト (購買力平価)</a></li>
    <li><a href="http://ja.wikipedia.org/wiki/%E5%9B%BD%E3%81%AE%E5%9B%BD%E5%86%85%E7%B7%8F%E7%94%9F%E7%94%A3%E9%A0%86%E3%83%AA%E3%82%B9%E3%83%88_%28%E4%B8%80%E4%BA%BA%E5%BD%93%E3%82%8A%E8%B3%BC%E8%B2%B7%E5%8A%9B%E5%B9%B3%E4%BE%A1%29"> 国の国内総生産順リスト (一人当り購買力平価)</a></li>
</ul>
<h6>２．英語のページ</h6>
<p><strong>・国際連合（UN)</strong></p>
<p>人口関係については、<a href="http://www.un.org/esa/population/unpop.htm">国際連合経済社会局人口部</a>のページから詳しいデータを取得できる。また <a href="http://data.un.org/">UNdata</a> からは、多くの種類のデータが取得できる。</p>
<p><strong>・国際通貨基金（IMF）</strong></p>
<p><a href="http://www.imf.org/external/data.htm">IMF Data and Statistics</a> には、 <a href="http://www.imf.org/external/ns/cs.aspx?id=28">World Economic Outlook Databases (WEO)</a>、 <a href="http://www.imfstatistics.org/imf">International Financial Statistics (IFS)</a>、 <a href="http://www.principalglobalindicators.org/">Principal Global Indicators (PGI)</a>等の経済データを中心としたデータを取得できる。加盟国は、187カ国で、国連加盟国で加盟していないは、キューバ、北朝鮮、アンドラ、モナコ、リヒテンシュタイン、ナウルの6カ国。一方でコソボは国連には加盟していないが、IMFには加盟している。現在、データについては183の国と香港のデータが入手でき、比較的多くの国のデータが取得できる。ただし、IFS は有料である。</p>
<p><strong>・世界銀行（World Bank）</strong></p>
<p><a href="http://data.worldbank.org/">The World Bank Open Data</a> から 208 カ国の約 2000 の指標のデータが取得できる。</p>
<p><strong>・アメリカ中央情報局（CIA）</strong></p>
<p><a href="https://www.cia.gov/library/publications/the-world-factbook/"> The World Factbook のページ</a>では、266 の国と地域のデータが入手できる。入手できる国の数が多く、多方面のデータが入手できるのが特徴である。</p>
<p><strong>・経済協力開発機構（OECD）</strong></p>
<p><a href="http://www.oecd.org/statsportal/0,3352,en_2825_293564_1_1_1_1_1,00.html"> Statistical portal のページ</a>及び <a href="http://www.oecd.org/site/0,3407,en_21571361_34374092_1_1_1_1_1,00.html"> OECD Factbook のページ</a>からは、充実した内容の統計データが取得できる。ただし、加盟国（31カ国）、加盟候補国（4カ国）、関与強化国（5カ国）の40カ国と対象が限られるのが欠点である。<a href="http://www.oecd-ilibrary.org/">OECD iLibrary</a> は、SourceOECD フルパッケージの購読機関でないと利用できない。</p>
<p><strong>・Google public data explorer</strong></p>
<p><a href="http://www.google.com/publicdata/">Google public data explorer</a> では、IMF の World Economic Outlook Database や World Bank の World Development Indicators の統計データをグラフ化して表示してくれます。<strong><br /> </strong></p>
<p>以下の図が、為替レートによる一人当たりのGDPのグラフです。日本は、1990年～1995年にかけて急成長し、2007年以降も成長しています。これらの時期に伸びている理由を考えると経済成長があったというよりも円高になった時期です。為替レートによる場合は、どうしても為替変動の影響が大きく出てしまいます。</p>
<p><iframe scrolling="no" marginwidth="0" marginheight="0" src="https://www.google.com/publicdata/embed?ds=k3s92bru78li6_&amp;ctype=l&amp;strail=false&amp;bcs=d&amp;nselm=h&amp;met_y=ngdpdpc&amp;scale_y=lin&amp;ind_y=false&amp;rdim=world&amp;idim=world:Earth&amp;idim=country:JP:DE:FR:IT:US:GB&amp;ifdim=world&amp;hl=en_US&amp;dl=en_US&amp;ind=false" frameborder="0" height="325" width="400"></iframe></p>
<p><br /> 以下の図は、購買力平価による一人当たりのGDPのグラフです。為替レートのものに比べるとグラフの変動が少ないのが特徴です。こちらでみると、日本は順調に経済成長をしているようにみえます。統計でGDPの比較をするのでも単純ではないことがよくわかると思います。</p>
<p><iframe scrolling="no" marginwidth="0" marginheight="0" src="https://www.google.com/publicdata/embed?ds=k3s92bru78li6_&amp;ctype=l&amp;strail=false&amp;bcs=d&amp;nselm=h&amp;met_y=ppppc&amp;scale_y=lin&amp;ind_y=false&amp;rdim=world&amp;idim=world:Earth&amp;idim=country:JP:DE:FR:IT:US:GB&amp;ifdim=world&amp;hl=en_US&amp;dl=en_US&amp;ind=false" frameborder="0" height="325" width="400"></iframe></p>
<p>購買力平価（purchasing power parity、PPP）ベースのGDP：為替レートによる通貨の換算では、投機や国家間の資本移動の影響を受けやすいという問題があります。そこで、一定の商品群を入手するのに各国の通貨でいくらあればよいかを調査して、これをもとに一国の通貨と他国の通貨との換算比率を計算して、それぞれの通貨の購買力 （買える財やサービスの量）が等しくなるように計算して求めたものが購買力平価です。例えば、1商品だけで購買力平価を考えてみると、 ガソリン1リットルの値段が日本では150円、米国では1ドルとした場合、ガソリンでみた円とドルの購買力平価は1ドル＝150円となります。購買力平価により換算することにより生活関連コストを考慮に入れた生産額を見ることができます。</p>
