<h2>プライバシーポリシー</h2>
<p>当サイトの運営に際し、利用者のプライバシーを尊重し個人情報に対して十分な配慮を行うと共に大切に保護し、適正な管理を行うことに努めております。</p>
<p><span class="b">１．個人情報利用目的</span><br />利用者の個人情報は、原則として、当社のサービスに関する情報をご提供する目的や当社に対するご意見、ご要望に関する今後の改善、及び、問い合せに関するご回答のために利用致します。<br />それ以外の目的で利用する場合は個人情報をご提供いただく際に予め目的を明示しておりますのでご確認下さい。</p>
<p><span class="b">２．第三者への情報提供</span><br />利用者の個人情報は、法令により開示を求められた場合を除き第三者に開示、提供、譲渡、することは致しません。</p>
<p><span class="b">３．クッキー及びウェブビーコンの利用</span><br />当サイトではクッキー（Cookie）及びウェブビーコンを利用しております。クッキー等を使用する目的は以下のとおりで、利用者のプライバシーを侵害するものではありません。</p>
<div class="description">
    <ul>
        <li>利用者の利便性を考慮したページ(ツールで設定の記憶など)</li>
        <li>本サイトを利用する利用者数を計るため(アクセス解析)</li>
        <li>利用者に適した広告の掲載</li>
    </ul>
    <p>4. クッキーの無効化</p>
    <p>ブラウザの設定を変更すると、クッキーの受け入れを拒否できます。また、ブラウザのクッキー・フォルダに保存されているクッキーを削除することもできます。ただし、クッキーを無効化したり削除すると、当サイトで一部の機能が使用できなくなることがあります。</p>
    <p>5. Google Adsenseに関する追記</p>
</div>
<p>当サイトでは、Google社のAdsenseの広告を配信しております。そのため、第三者が利用者のブラウザに Cookie を保存し使用する可能性があります。または広告配信時にウェブ ビーコンを使用して情報を収集する可能性があります。</p>
<p>広告のオプトアウト ページで Google 広告 Cookie を使用しないよう設定できます。また、Network Advertising Initiative の<a href="http://www.networkadvertising.org/managing/opt_out.asp">オプトアウト ページ</a>でも第三者配信事業者の Cookie の使用を無効にできます。</p>
<p>6. Google Analyticsに関する追記</p>
<p>Google アナリティクスで Google のインタレスト ベース広告のデータや第三者のユーザー データ（年齢、性別、興味や関心など）を収集していますが、個人を特定できない情報であり利用者のプライバシーを侵害するものではありません。また、5.に記載の方法でCookieの使用を無効にすることにより、データーの収集対象から除外することができます。</p>
<p><span class="b">7．適用範囲</span><br />本プライバシーポリシーは当サイト内にのみ適用されます。当サイトからリンクの張られている他のサイトでの個人情報保護については一切の責任を負いません。</p>
