{% extends "_layout.html" %}
{# 旧 Views/Population/Ranking.cshtml の移植。ranking = data/rankings/ranking2045_national.json #}

{% block content %}
<h2>2045年市町村将来推計人口ランキング</h2>
<p>国立社会保障・人口問題研究所の<a href="http://www.ipss.go.jp/pp-shicyoson/j/shicyoson18/t-page.asp">『日本の地域別将来推計人口(平成30(2018)年3月推計)』</a>のデータを使用して、2045年の市町村の人口ランキングを作ってみました。2015年から2045年の人口増減率によって色を付けています。赤が増加が想定される市町村で、青が減少が想定される市町村です。殆どの市町村は減少し、地方都市では人口が20%減少するというのが普通で50%以上という市町村も多いというのが普通という厳しい状況です。もちろん推計なので状況を変えることは可能なので、対応を考えていく必要があると思います。市町村名をクリックすると年齢階級別人口の1985年からの推移のグラフが表示されます。</p>
<p>※<a href="/Population/Population2015/">2015年市区町村別人口ランキング</a>も作成していますので参考にしてください。</p>

<form class="form-inline">
    <label for="pref">都道府県の選択:</label>
    <select id="pref" data-nav-base="/Population/Ranking/">
        <option value="">全国</option>
{% for k, v in prefs.items() %}
{% if k != "07" %}
        <option value="{{ k }}">{{ v }}</option>
{% endif %}
{% endfor %}
    </select>
</form>
<div class="table-responsive">
<table class="ranking">
    <tr>
        <th>順位</th><th>市町村名</th><th>2045年推計人口</th><th>2015年人口</th>
        <th>人口増減</th><th>増減率</th><th>2015年順位</th>
    </tr>
{% for d in ranking %}
{% set rate = (d.Value - d.Value2015) * 100.0 / d.Value2015 %}
    <tr class="{{ rate | rate_class }}">
        <td>{{ d.Order }}</td>
        <td class="left"><a href="/Population/City/{{ "%05d" | format(d.Code) }}">{{ "%05d" | format(d.Code) }} {{ d.Pref }}{{ d.Name }}</a></td>
        <td>{{ d.Value | num }}</td>
        <td>{{ d.Value2015 | num }}</td>
        <td>{{ (d.Value - d.Value2015) | num }}</td>
        <td>{{ rate | f1 }}</td>
        <td>{{ d.Order2015 }}</td>
    </tr>
{% endfor %}
</table>
</div>
<p>※福島県内の市町村については、平成23(2011)年3月に発生した東日本大震災に伴う福島第一原子力発電所の事故の影響で、市町村別の人口の動向および今後の推移を見通すことがきわめて困難な状況にありという理由で公表されていないため、この表から除外しています。</p>
{% endblock %}

{% block rightside_under %}
    <h5>都道府県の5歳年齢階級別人口の推移のグラフ</h5>
    <ul class="linklist">
{% for k, v in prefs.items() %}
        <li class="chartlink"><a href="/Population/Prefecture/{{ k }}">{{ v }}</a></li>
{% endfor %}
    </ul>
{% endblock %}

{% block add_script %}
<script>
    document.getElementById("pref").addEventListener("change", function () {
        var v = this.value;
        location.href = v ? "/Population/Ranking/" + v + "/" : "/Population/Ranking/";
    });
</script>
{% endblock %}
