<p>市町村の飛び地は、<a href="http://ja.wikipedia.org/wiki/%E9%A3%9B%E5%9C%B0">ウィキペディア</a>を見てみるとすぐにわかるように珍しいものではなく多数あります。代表的なものを紹介すると</p>
<ul>
    <li>和歌山県北山村 村全体が県の飛び地になっており、奈良県と三重県に囲まれている。北山村は、林業で栄え、伐採された木材の輸送は川を利用して筏によって木材集積地の新宮まで運ばれたため、新宮との結びつきが強かった。明治４年、廃藩置県が実施され、新宮が和歌山県に編入された際、地理的に言えば奈良県に属するところを「新宮が和歌山県に入ったのならぜひ私たちも」との村民の意見を聞き入れ、和歌山県に編入された。なお、新宮市熊野川町玉置口、嶋津地区も県の飛地になっている。</li>
    <li>長野県南箕輪村 伊那市を挟んで西側に飛地がある。明治8年に合併で南箕輪村ができて以来ずっと飛地となっている。</li>
    <li>平成の大合併の時に離れた市町村が合併したことにより飛地ができた例<br/> 北海道釧路市（旧音別町）、北海道伊達市（旧大滝村）、北海道日高町（旧日高町）、青森県中泊町（旧小泊村）、青森県五所川原市（旧市浦村）、青森県外ヶ浜町（旧三厩村）、群馬県高崎市（旧新町）、群馬県桐生市（旧新里村、旧黒保根村）、岐阜県可児市（旧兼山町）、岐阜県大垣市（旧墨俣町、旧上石津町）、徳島県三好市（旧三野町）、鹿児島県奄美市（旧笠利町）</li>
</ul>

