<p>日本の東西南北の端にある市町村については、どう定義するかによって場所が変わりますが、日本が実行支配している領土の東西南北端の市町村とすると、<br /> ・東端は、南鳥島で東京都小笠原村です。<br /> ・西端は、与那国島で沖縄県八重山郡与那国町です。<br /> ・南端は、沖の鳥島で東京都小笠原村です。<br /> ・北端は、宗谷岬すぐ近くの西北西に位置する弁天島という岩礁で北海道稚内市です。</p>
<p>沖 の鳥島と弁天島は無人島で民間人が通常いける場所でないので無人島を除くことにすると<br /> ・南端は、波照間島で沖縄県八重山郡竹富町です。<br /> ・北端は、宗谷岬で北海道稚内市です。</p>
<p>南鳥島は、海上自衛隊等の職員のみが上陸可能なため、民間人が通常到達できる場所でいうと<br /> ・東端は、納沙布岬で北海道根室市です。</p>
<p>市町村の役所の位置では、<br /> ・東端は、北海道根室市です。<br /> ・西端は、沖縄県八重山郡与那国町です。<br /> ・南端は、沖縄県八重山郡竹富町（石垣市にあり竹富町役場は石垣市役所より南にある）です。<br /> ・北端は、北海道稚内市です。</p>
<p>関係リンク<br/> 国土地理院 <a href="http://www.gsi.go.jp/KOKUJYOHO/center.htm" target="_blank">日本の東西南北端点の経度緯度</a>
</p>

