<p>気象庁の年降水量の平年値の記録（データは気象庁の<a href="http://www.data.jma.go.jp/obd/stats/etrn/">過去の気象データ検索のページ</a>から取得）では、北海道北見市の常呂が年降水量で700.4mmで最も少なくなっています。下の表（年降水量の平年値の下位20地点）と気象庁の <a href="http://www.data.jma.go.jp/obd/stats/etrn/normal_bunpu/drawMap2.php?elm_no=4000&amp;mm=1&amp;tki=13"> 降水量平年値分布図</a>（<a href="http://www.data.jma.go.jp/obd/stats/data/mdrr/atlas/precipitation/precipitation_13.pdf"> 旧平年値による降水量平年値分布図</a>が見やすい）を見ればわかるように日本で降水量の最も少ないのは、北海道の北東部で、網走・北見・紋別地方を中心に、年降水量が1000mm未満となっている地域があります。</p>
<p>本州で最も降水量が少ないのは、長野県の東信・北信地方の一部で、上田 890.8mm、長野 932.7mm となっています。</p>
<p>雨が少ないことで有名な瀬戸内海沿岸の地域の年降水量は、最も降水量の少ない岡山県玉野で1003.9mmと1000mmを少し超えており、北海道の網走・北見・紋別地方や長野県の一部より多くなっています。</p>
<p>各地点の年降水量の平年値については、<a href="http://weather.time-j.net/Weather/Precipitation">年降水量（平年値）ランキングのページ</a>を参考にしてください。</p>
<h6>年降水量の平年値の少ない方から20地点</h6>
<div class="table-responsive">
    <table border="0" class="ectable">
        <tbody>
            <tr height="18"><th>順位</th><th>観測地点</th><th>年降水量<br />（mm）</th><th>統計期間</th><th>資料年数</th></tr>
            <tr height="18">
                <td align="right">1</td>
                <td>北海道オホーツク地方常呂</td>
                <td align="right">700.4</td>
                <td>1981~2010</td>
                <td align="right">30</td>
            </tr>
            <tr height="18">
                <td height="18" align="right">2</td>
                <td>北海道オホーツク地方留辺蘂</td>
                <td class="xl63" align="right">701.9</td>
                <td>1981~2010</td>
                <td align="right">30</td>
            </tr>
            <tr height="18">
                <td height="18" align="right">3</td>
                <td>北海道オホーツク地方湧別</td>
                <td class="xl63" align="right">715.5</td>
                <td>1981~2010</td>
                <td align="right">30</td>
            </tr>
            <tr height="18">
                <td height="18" align="right">4</td>
                <td>北海道オホーツク地方美幌</td>
                <td class="xl63" align="right">716.5</td>
                <td>1981~2010</td>
                <td align="right">30</td>
            </tr>
            <tr height="18">
                <td height="18" align="right">5</td>
                <td>北海道オホーツク地方生田原</td>
                <td class="xl63" align="right">730.7</td>
                <td>1981~2010</td>
                <td align="right">30</td>
            </tr>
            <tr height="18">
                <td height="18" align="right">6</td>
                <td>北海道オホーツク地方境野</td>
                <td class="xl63" align="right">733.5</td>
                <td>1981~2010</td>
                <td align="right">30</td>
            </tr>
            <tr height="18">
                <td height="18" align="right">7</td>
                <td>北海道オホーツク地方東藻琴</td>
                <td class="xl63" align="right">756.8</td>
                <td>1981~2010</td>
                <td align="right">30</td>
            </tr>
            <tr height="18">
                <td height="18" align="right">8</td>
                <td>北海道オホーツク地方小清水</td>
                <td class="xl63" align="right">757.0</td>
                <td>1981~2010</td>
                <td align="right">30</td>
            </tr>
            <tr height="18">
                <td height="18" align="right">9</td>
                <td>北海道オホーツク地方北見</td>
                <td class="xl63" align="right">763.6</td>
                <td>1981~2010</td>
                <td align="right">30</td>
            </tr>
            <tr height="18">
                <td height="18" align="right">10</td>
                <td>北海道十勝地方本別</td>
                <td class="xl63" align="right">772.0</td>
                <td>1981~2010</td>
                <td align="right">30</td>
            </tr>
            <tr height="18">
                <td height="18" align="right">11</td>
                <td>北海道オホーツク地方斜里</td>
                <td class="xl63" align="right">778.7</td>
                <td>1981~2010</td>
                <td align="right">30</td>
            </tr>
            <tr height="18">
                <td height="18" align="right">12</td>
                <td>北海道オホーツク地方網走</td>
                <td class="xl63" align="right">787.6</td>
                <td>1981~2010</td>
                <td align="right">30</td>
            </tr>
            <tr height="18">
                <td height="18" align="right">13</td>
                <td>北海道オホーツク地方遠軽</td>
                <td class="xl63" align="right">794.5</td>
                <td>1981~2010</td>
                <td align="right">30</td>
            </tr>
            <tr height="18">
                <td height="18" align="right">14</td>
                <td>北海道オホーツク地方佐呂間</td>
                <td class="xl63" align="right">795.6</td>
                <td>1981~2010</td>
                <td align="right">30</td>
            </tr>
            <tr height="18">
                <td height="18" align="right">15</td>
                <td>北海道十勝地方陸別</td>
                <td class="xl63" align="right">799.8</td>
                <td>1981~2010</td>
                <td align="right">30</td>
            </tr>
            <tr height="18">
                <td height="18" align="right">16</td>
                <td>北海道オホーツク地方紋別</td>
                <td class="xl63" align="right">810.1</td>
                <td>1981~2010</td>
                <td align="right">30</td>
            </tr>
            <tr height="18">
                <td height="18" align="right">17</td>
                <td>北海道十勝地方上螺湾</td>
                <td class="xl63" align="right">811.2</td>
                <td>1983~2010</td>
                <td align="right">28</td>
            </tr>
            <tr height="18">
                <td height="18" align="right">18</td>
                <td>北海道十勝地方足寄</td>
                <td class="xl63" align="right">815.3</td>
                <td>1981~2010</td>
                <td align="right">30</td>
            </tr>
            <tr height="18">
                <td height="18" align="right">19</td>
                <td>北海道宗谷地方宗谷岬</td>
                <td class="xl63" align="right">832.0</td>
                <td>1981~2010</td>
                <td align="right">30</td>
            </tr>
            <tr height="18">
                <td height="18" align="right">20</td>
                <td>北海道十勝地方駒場</td>
                <td class="xl63" align="right">840.7</td>
                <td>1981~2010</td>
                <td align="right">30</td>
            </tr>
        </tbody>
    </table>
</div>
<p> </p>
<p>出典</p>
<p>気象庁　<a href="http://www.data.jma.go.jp/obd/stats/etrn/">過去の気象データ検索のページ</a></p>
<p>気象庁　 <a href="http://www.data.jma.go.jp/obd/stats/etrn/view/atlas.html"> 降水量平年値分布図</a></p>
