<p>ダムの建設のために住民全員が移転し廃村になった村があります。岐阜県にあった揖斐郡徳山村と福井県にあった大野郡西谷村です。</p>
<p>岐阜県の徳山村は、揖斐川上流にあった村で、徳山ダムの建設のため村全体が水没することになり、村民全員が離村し、1987年4月1日に旧藤橋村に編入され廃村になりました。徳山ダムは、2008年5月に完成し、旧徳山村の可住区域は完全にダムに水没することになりました。</p>
<p>また、福井県西谷村は、1957年の笹生川ダムの建設で３集落が離村，1963年の三八豪雪で２集落が離村，1965年9月の「四〇・九風水害」で全村で壊滅的な被害を受けました。再建構想もあったものの，真名川ダムの建設が決定されたことにより村全体での離村が決まり，1970年7月1日に大野市に編入され廃村となりました。</p>
<p>東京都三宅村は、火山の噴火により2000年9月に全島民が島外に避難し、2005年2月に避難指示が解除されるまで、長期の避難生活を余儀なくされた。</p>
<p>2011年3月11日の東日本大震災による東京電力福島第一原発の事故により、福島県の双葉町、大熊町、富岡町、浪江町、飯舘村、葛尾村の6町村では全町避難し、楢葉町では大部分の地域で避難しています。</p>
<p>関係リンク</p>
<p><a href="http://www.water.go.jp/chubu/tokuyama/">徳山ダム</a></p>
<p><br /> <a href="http://www.kkr.mlit.go.jp/kuzuryu/">真名川ダム</a></p>
<p><br /> <a href="http://www.din.or.jp/~heyaneko/haison.html">廃村と過疎の風景</a></p>

