<p>伊豆諸島と小笠原諸島は、東京都に属していますが郡が設置されていません。伊豆諸島と小笠原諸島にある、大島町、利島村、新島村、神津島村、三宅村、御蔵島村、八丈町、青ヶ島村、小笠原村の９町村で、郡に属さないため住所は「東京都大島町」というように表示されます。三宅村や八丈町では、島の名称をつけた「東京都三宅島三宅村」という表記が一般に使われており、三宅村、八丈町のホームページでも役場の住所がそのように表記されています。なお、郡は、古くは律令制の時代からの行政区画であり、明治には郡会が設置され自治体としての機能が与えられたこともありますが、昭和の大合併、平成の大合併で市部の拡大や町村の広域化によりその存在意義は薄れてきています。</p>
<p>関係リンク</p>
<p>
    <a href="http://www.town.oshima.tokyo.jp/" target="_blank">大島町ホームページ</a><br /><br />
    <a href="http://www.toshimamura.org/" target="_blank">利島村ホームページ</a><br/><br/>
    <a href="http://www.niijima.com/" target="_blank">新島村ホームページ</a><br/><br/>
    <a href="http://vill.kouzushima.tokyo.jp/" target="_blank">神津島村ホームページ</a><br/><br/>
    <a href="http://www.miyakemura.com/" target="_blank">三宅村ホームページ</a><br/><br/>
    <a href="http://www.mikurasima.jp/" target="_blank">御蔵島村ホームページ</a><br/><br/>
    <a href="http://www.town.hachijo.tokyo.jp/" target="_blank">八丈町ホームページ</a><br/><br/>
    <a href="http://www.vill.aogashima.tokyo.jp/" target="_blank">青ヶ島村ホームページ</a><br/><br/>
    <a href="http://www.vill.ogasawara.tokyo.jp/" target="_blank">小笠原村ホームページ</a>
</p>

