<p>標高が1000ｍ以上の所に役場がある市町村は、以下のとおりで、最も標高が高いのは、長野県川上村で、次いで群馬県草津町、長野県南牧村、原村の4町村です。原村は標高が1000mありますが高原のため山や谷が少ない村です。</p>
<div class="table-responsive">
    <table border="1" cellspacing="2" cellpadding="2" style="width: 416px; height: 264px;">
        <tbody>
            <tr>
                <td style="text-align: center;">順位</td>
                <td style="text-align: center;">市町村</td>
                <td style="text-align: center;">標高</td>
                <td style="text-align: center;">出典</td>
            </tr>
            <tr>
                <td>1</td>
                <td>長野県川上村</td>
                <td>1185m</td>
                <td><a href="http://www.vill.kawakami.nagano.jp/data/02_enkaku.html">村ホームページ</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>群馬県草津町</td>
                <td>約1180m</td>
                <td>25000分の1の地図</td>
            </tr>
            <tr>
                <td>3</td>
                <td>長野県南牧村</td>
                <td>約1030m</td>
                <td>25000分の1の地図</td>
            </tr>
            <tr>
                <td>4</td>
                <td>長野県原村</td>
                <td>約1000m</td>
                <td>25000分の1の地図</td>
            </tr>
            <tr>
                <td>-</td>
                <td>長野県南相木村</td>
                <td>約990m</td>
                <td>25000分の1の地図</td>
            </tr>
            <tr>
                <td>-</td>
                <td>長野県北相木村</td>
                <td>約970m</td>
                <td>25000分の1の地図</td>
            </tr>
            <tr>
                <td>-</td>
                <td>福島県檜枝岐村</td>
                <td>939m</td>
                <td><a href="http://www.hinoemata.com/soumu/gaiyou.html">村ホームページ</a></td>
            </tr>
            <tr>
                <td>-</td>
                <td>長野県木祖村</td>
                <td>約925m</td>
                <td>25000分の1の地図</td>
            </tr>
        </tbody>
    </table>
</div>
<p>関係リンク</p>
<p>群馬県草津町　<a href="http://www.town.kusatsu.gunma.jp/">ホームページ</a><br /><br /> 長野県南牧村　<a href="http://www.avis.ne.jp/~minamivo/">ホームページ</a><br /><br /> 長野県原村　<a href="http://www.vill.hara.nagano.jp/">ホームページ</a></p>

