<p>2015年の国勢調査では、年少（１５歳未満）人口の割合は、三重県朝日町が21.7%で最も高くなっています。沖縄県が年少人口の割合が高く20位までのうち11を占めています。</p>
<p>全市町村の年少人口割合のランキングを作成していますので、そちらも参考にしてください。<br />⇒<a href="/population/young2015">市町村年少人口割合ランキング2015</a></p>
<div class="table-responsive">
  <table class="ectable">
    <thead>
      <tr><th>順位</th><th>コード</th><th>市区町村名</th><th>人口（人）</th><th>年少人口（人）</th><th>年少人口割合（％）</th></tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>24343</td>
        <td><a href="/Population/City/24343">三重県朝日町</a></td>
        <td class="wright">10,257</td>
        <td class="wright">2,225</td>
        <td class="wright">21.7</td>
      </tr>
      <tr>
        <td>2</td>
        <td>40345</td>
        <td><a href="/Population/City/40345">福岡県新宮町</a></td>
        <td class="wright">30,299</td>
        <td class="wright">6,280</td>
        <td class="wright">20.7</td>
      </tr>
      <tr>
        <td>3</td>
        <td>17324</td>
        <td><a href="/Population/City/17324">石川県川北町</a></td>
        <td class="wright">6,339</td>
        <td class="wright">1,296</td>
        <td class="wright">20.4</td>
      </tr>
      <tr>
        <td>4</td>
        <td>47313</td>
        <td><a href="/Population/City/47313">沖縄県宜野座村</a></td>
        <td class="wright">5,594</td>
        <td class="wright">1,140</td>
        <td class="wright">20.4</td>
      </tr>
      <tr>
        <td>5</td>
        <td>47212</td>
        <td><a href="/Population/City/47212">沖縄県豊見城市</a></td>
        <td class="wright">60,627</td>
        <td class="wright">12,206</td>
        <td class="wright">20.1</td>
      </tr>
      <tr>
        <td>6</td>
        <td>46303</td>
        <td><a href="/Population/City/46303">鹿児島県三島村</a></td>
        <td class="wright">407</td>
        <td class="wright">81</td>
        <td class="wright">19.9</td>
      </tr>
      <tr>
        <td>7</td>
        <td>47350</td>
        <td><a href="/Population/City/47350">沖縄県南風原町</a></td>
        <td class="wright">37,217</td>
        <td class="wright">7,380</td>
        <td class="wright">19.8</td>
      </tr>
      <tr>
        <td>8</td>
        <td>47359</td>
        <td><a href="/Population/City/47359">沖縄県伊平屋村</a></td>
        <td class="wright">1,238</td>
        <td class="wright">237</td>
        <td class="wright">19.1</td>
      </tr>
      <tr>
        <td>9</td>
        <td>47348</td>
        <td><a href="/Population/City/47348">沖縄県与那原町</a></td>
        <td class="wright">18,126</td>
        <td class="wright">3,418</td>
        <td class="wright">18.9</td>
      </tr>
      <tr>
        <td>10</td>
        <td>40349</td>
        <td><a href="/Population/City/40349">福岡県粕屋町</a></td>
        <td class="wright">45,269</td>
        <td class="wright">8,503</td>
        <td class="wright">18.8</td>
      </tr>
      <tr>
        <td>11</td>
        <td>04423</td>
        <td><a href="/Population/City/04216">宮城県富谷町</a></td>
        <td class="wright">51,462</td>
        <td class="wright">9,625</td>
        <td class="wright">18.7</td>
      </tr>
      <tr>
        <td>12</td>
        <td>47210</td>
        <td><a href="/Population/City/47210">沖縄県糸満市</a></td>
        <td class="wright">58,471</td>
        <td class="wright">10,870</td>
        <td class="wright">18.6</td>
      </tr>
      <tr>
        <td>13</td>
        <td>47208</td>
        <td><a href="/Population/City/47208">沖縄県浦添市</a></td>
        <td class="wright">113,012</td>
        <td class="wright">20,910</td>
        <td class="wright">18.5</td>
      </tr>
      <tr>
        <td>14</td>
        <td>16321</td>
        <td><a href="/Population/City/16321">富山県舟橋村</a></td>
        <td class="wright">2,981</td>
        <td class="wright">549</td>
        <td class="wright">18.4</td>
      </tr>
      <tr>
        <td>15</td>
        <td>25208</td>
        <td><a href="/Population/City/25208">滋賀県栗東市</a></td>
        <td class="wright">66,635</td>
        <td class="wright">12,256</td>
        <td class="wright">18.4</td>
      </tr>
      <tr>
        <td>16</td>
        <td>47211</td>
        <td><a href="/Population/City/47211">沖縄県沖縄市</a></td>
        <td class="wright">138,483</td>
        <td class="wright">25,466</td>
        <td class="wright">18.4</td>
      </tr>
      <tr>
        <td>17</td>
        <td>47324</td>
        <td><a href="/Population/City/47324">沖縄県読谷村</a></td>
        <td class="wright">39,342</td>
        <td class="wright">7,229</td>
        <td class="wright">18.4</td>
      </tr>
      <tr>
        <td>18</td>
        <td>47362</td>
        <td><a href="/Population/City/47362">沖縄県八重瀬町</a></td>
        <td class="wright">28,937</td>
        <td class="wright">5,315</td>
        <td class="wright">18.4</td>
      </tr>
      <tr>
        <td>19</td>
        <td>47207</td>
        <td><a href="/Population/City/47207">沖縄県石垣市</a></td>
        <td class="wright">47,308</td>
        <td class="wright">8,639</td>
        <td class="wright">18.3</td>
      </tr>
      <tr>
        <td>20</td>
        <td>43216</td>
        <td><a href="/Population/City/43216">熊本県合志市</a></td>
        <td class="wright">58,334</td>
        <td class="wright">10,561</td>
        <td class="wright">18.1</td>
      </tr>
      <tr>
        <td>21</td>
        <td>47354</td>
        <td><a href="/Population/City/47354">沖縄県座間味村</a></td>
        <td class="wright">870</td>
        <td class="wright">156</td>
        <td class="wright">17.9</td>
      </tr>
      <tr>
        <td>22</td>
        <td>43404</td>
        <td><a href="/Population/City/43404">熊本県菊陽町</a></td>
        <td class="wright">40,655</td>
        <td class="wright">7,286</td>
        <td class="wright">17.9</td>
      </tr>
      <tr>
        <td>23</td>
        <td>47205</td>
        <td><a href="/Population/City/47205">沖縄県宜野湾市</a></td>
        <td class="wright">94,440</td>
        <td class="wright">16,900</td>
        <td class="wright">17.9</td>
      </tr>
      <tr>
        <td>24</td>
        <td>47326</td>
        <td><a href="/Population/City/47326">沖縄県北谷町</a></td>
        <td class="wright">28,153</td>
        <td class="wright">5,028</td>
        <td class="wright">17.9</td>
      </tr>
      <tr>
        <td>25</td>
        <td>23238</td>
        <td><a href="/Population/City/23238">愛知県長久手市</a></td>
        <td class="wright">56,002</td>
        <td class="wright">9,897</td>
        <td class="wright">17.7</td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<p>
  2010年のデータも参考までに残しておきます。<br />
  ⇒<a href="/population/young2010">市町村年少人口割合ランキング2010</a>
</p>
<div class="table-responsive">
  <table border="0" class="ectable">
    <tbody>
      <tr>
        <td>順位</td>
        <td>コード</td>
        <td>市町村名</td>
        <td>人口</td>
        <td>年少人口</td>
        <td>年少人口割合</td>
      </tr>
      <tr>
        <td class="wright">1</td>
        <td>16321</td>
        <td><a href="/Population/City/16321">富山県舟橋村</a></td>
        <td class="wright">2,967</td>
        <td class="wright">647</td>
        <td class="wright">21.8</td>
      </tr>
      <tr>
        <td class="wright">2</td>
        <td>47375</td>
        <td><a href="/Population/City/47375">沖縄県多良間村</a></td>
        <td class="wright">1,231</td>
        <td class="wright">268</td>
        <td class="wright">21.8</td>
      </tr>
      <tr>
        <td class="wright">3</td>
        <td>24343</td>
        <td><a href="/Population/City/24343">三重県朝日町</a></td>
        <td class="wright">9,583</td>
        <td class="wright">2,025</td>
        <td class="wright">21.1</td>
      </tr>
      <tr>
        <td class="wright">4</td>
        <td>17324</td>
        <td><a href="/Population/City/17324">石川県川北町</a></td>
        <td class="wright">6,147</td>
        <td class="wright">1,262</td>
        <td class="wright">20.5</td>
      </tr>
      <tr>
        <td class="wright">5</td>
        <td>47212</td>
        <td><a href="/Population/City/47212">沖縄県豊見城市</a></td>
        <td class="wright">57,261</td>
        <td class="wright">11,475</td>
        <td class="wright">20.0</td>
      </tr>
      <tr>
        <td class="wright">6</td>
        <td>04423</td>
        <td><a href="/Population/City/04423">宮城県富谷町</a></td>
        <td class="wright">46,956</td>
        <td class="wright">9,249</td>
        <td class="wright">19.7</td>
      </tr>
      <tr>
        <td class="wright">7</td>
        <td>47350</td>
        <td><a href="/Population/City/47350">沖縄県南風原町</a></td>
        <td class="wright">35,186</td>
        <td class="wright">6,908</td>
        <td class="wright">19.6</td>
      </tr>
      <tr>
        <td class="wright">8</td>
        <td>25208</td>
        <td><a href="/Population/City/25208">滋賀県栗東市</a></td>
        <td class="wright">63,523</td>
        <td class="wright">12,412</td>
        <td class="wright">19.5</td>
      </tr>
      <tr>
        <td class="wright">9</td>
        <td>47208</td>
        <td><a href="/Population/City/47208">沖縄県浦添市</a></td>
        <td class="wright">109,797</td>
        <td class="wright">21,264</td>
        <td class="wright">19.4</td>
      </tr>
      <tr>
        <td class="wright">10</td>
        <td>47211</td>
        <td><a href="/Population/City/47211">沖縄県沖縄市</a></td>
        <td class="wright">130,075</td>
        <td class="wright">24,925</td>
        <td class="wright">19.2</td>
      </tr>
      <tr>
        <td class="wright">11</td>
        <td>47313</td>
        <td><a href="/Population/City/47313">沖縄県宜野座村</a></td>
        <td class="wright">5,331</td>
        <td class="wright">1,009</td>
        <td class="wright">18.9</td>
      </tr>
      <tr>
        <td class="wright">12</td>
        <td>47324</td>
        <td><a href="/Population/City/47324">沖縄県読谷村</a></td>
        <td class="wright">38,194</td>
        <td class="wright">7,215</td>
        <td class="wright">18.9</td>
      </tr>
      <tr>
        <td class="wright">13</td>
        <td>47210</td>
        <td><a href="/Population/City/47210">沖縄県糸満市</a></td>
        <td class="wright">57,304</td>
        <td class="wright">10,727</td>
        <td class="wright">18.7</td>
      </tr>
      <tr>
        <td class="wright">14</td>
        <td>47359</td>
        <td><a href="/Population/City/47359">沖縄県伊平屋村</a></td>
        <td class="wright">1,380</td>
        <td class="wright">258</td>
        <td class="wright">18.7</td>
      </tr>
      <tr>
        <td class="wright">15</td>
        <td>23236</td>
        <td><a href="/Population/City/23236">愛知県みよし市</a></td>
        <td class="wright">59,773</td>
        <td class="wright">11,152</td>
        <td class="wright">18.7</td>
      </tr>
      <tr>
        <td class="wright">16</td>
        <td>47348</td>
        <td><a href="/Population/City/47348">沖縄県与那原町</a></td>
        <td class="wright">16,318</td>
        <td class="wright">3,035</td>
        <td class="wright">18.6</td>
      </tr>
      <tr>
        <td class="wright">17</td>
        <td>47326</td>
        <td><a href="/Population/City/47326">沖縄県北谷町</a></td>
        <td class="wright">27,111</td>
        <td class="wright">5,034</td>
        <td class="wright">18.6</td>
      </tr>
      <tr>
        <td class="wright">18</td>
        <td>14118</td>
        <td>神奈川県横浜市都筑区</td>
        <td class="wright">197,512</td>
        <td class="wright">36,602</td>
        <td class="wright">18.5</td>
      </tr>
      <tr>
        <td class="wright">19</td>
        <td>47207</td>
        <td><a href="/Population/City/47207">沖縄県石垣市</a></td>
        <td class="wright">46,806</td>
        <td class="wright">8,637</td>
        <td class="wright">18.5</td>
      </tr>
      <tr>
        <td class="wright">20</td>
        <td>47382</td>
        <td><a href="/Population/City/47382">沖縄県与那国町</a></td>
        <td class="wright">1,650</td>
        <td class="wright">301</td>
        <td class="wright">18.2</td>
      </tr>
    </tbody>
  </table>
</div>
<p>国勢調査時点（20１０年10月1日現在）での割合<br /> 出典　国勢調査</p>
