<p>2015年国勢調査（調査日2015年10月1日）によると65歳以上の人口の割合（高齢化率）が50%を超える市町村が20市町村あり、福島県の原子力災害により，全域が避難指示区域である町村を除くと18市町村です。高齢化率が実質的に一番高いのは群馬県の南牧村で60.5%です。</p>
<p>国立社会保障・人口問題研究所の『日本の地域別将来推計人口（平成25年3月推計）』によれば、今後高齢化率50%を超える町村数がますます増加すると考えられます。高齢化率が50%を超える市町村は限界自治体と呼ばれています。これらの自治体は、山間部に多く、林業を中心とした農林水産業の衰退が大きな原因になっていると考えられます。</p>
<p>全市町村の高齢化のランキング2015を作成していますので、そちらも参考にしてください。<br />⇒<a href="/population/Aging2015">市町村高齢化ランキング2015</a></p>
<div class="table-responsive">
  <table class="ectable">
    <thead>
      <tr><th>順位</th><th>コード</th><th>市区町村名</th><th>人口（人）</th><th>老年人口（人）</th><th>高齢化率（％）</th></tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>07564</td>
        <td><a href="/Population/City/07564">福島県飯舘村</a></td>
        <td class="wright">41</td>
        <td class="wright">41</td>
        <td class="wright">100.0</td>
      </tr>
      <tr>
        <td>2</td>
        <td>10383</td>
        <td><a href="/Population/City/10383">群馬県南牧村</a></td>
        <td class="wright">1,979</td>
        <td class="wright">1,197</td>
        <td class="wright">60.5</td>
      </tr>
      <tr>
        <td>3</td>
        <td>20413</td>
        <td><a href="/Population/City/20413">長野県天龍村</a></td>
        <td class="wright">1,365</td>
        <td class="wright">806</td>
        <td class="wright">59.0</td>
      </tr>
      <tr>
        <td>4</td>
        <td>29452</td>
        <td><a href="/Population/City/29452">奈良県川上村</a></td>
        <td class="wright">1,313</td>
        <td class="wright">771</td>
        <td class="wright">58.7</td>
      </tr>
      <tr>
        <td>5</td>
        <td>07445</td>
        <td><a href="/Population/City/07445">福島県金山町</a></td>
        <td class="wright">2,189</td>
        <td class="wright">1,259</td>
        <td class="wright">57.5</td>
      </tr>
      <tr>
        <td>6</td>
        <td>10367</td>
        <td><a href="/Population/City/10367">群馬県神流町</a></td>
        <td class="wright">1,954</td>
        <td class="wright">1,096</td>
        <td class="wright">56.1</td>
      </tr>
      <tr>
        <td>7</td>
        <td>39344</td>
        <td><a href="/Population/City/39344">高知県大豊町</a></td>
        <td class="wright">3,962</td>
        <td class="wright">2,215</td>
        <td class="wright">55.9</td>
      </tr>
      <tr>
        <td>8</td>
        <td>07446</td>
        <td><a href="/Population/City/07446">福島県昭和村</a></td>
        <td class="wright">1,322</td>
        <td class="wright">725</td>
        <td class="wright">54.8</td>
      </tr>
      <tr>
        <td>9</td>
        <td>36302</td>
        <td><a href="/Population/City/36302">徳島県上勝町</a></td>
        <td class="wright">1,545</td>
        <td class="wright">841</td>
        <td class="wright">54.4</td>
      </tr>
      <tr>
        <td>10</td>
        <td>39387</td>
        <td><a href="/Population/City/39387">高知県仁淀川町</a></td>
        <td class="wright">5,551</td>
        <td class="wright">2,994</td>
        <td class="wright">53.9</td>
      </tr>
      <tr>
        <td>11</td>
        <td>29386</td>
        <td><a href="/Population/City/29386">奈良県御杖村</a></td>
        <td class="wright">1,759</td>
        <td class="wright">948</td>
        <td class="wright">53.9</td>
      </tr>
      <tr>
        <td>12</td>
        <td>29453</td>
        <td><a href="/Population/City/29453">奈良県東吉野村</a></td>
        <td class="wright">1,741</td>
        <td class="wright">935</td>
        <td class="wright">53.7</td>
      </tr>
      <tr>
        <td>13</td>
        <td>35341</td>
        <td><a href="/Population/City/35341">山口県上関町</a></td>
        <td class="wright">2,803</td>
        <td class="wright">1,504</td>
        <td class="wright">53.7</td>
      </tr>
      <tr>
        <td>14</td>
        <td>30424</td>
        <td><a href="/Population/City/30424">和歌山県古座川町</a></td>
        <td class="wright">2,826</td>
        <td class="wright">1,489</td>
        <td class="wright">52.7</td>
      </tr>
      <tr>
        <td>15</td>
        <td>35305</td>
        <td><a href="/Population/City/35305">山口県周防大島町</a></td>
        <td class="wright">17,182</td>
        <td class="wright">8,914</td>
        <td class="wright">51.9</td>
      </tr>
      <tr>
        <td>16</td>
        <td>20417</td>
        <td><a href="/Population/City/20417">長野県大鹿村</a></td>
        <td class="wright">1,023</td>
        <td class="wright">520</td>
        <td class="wright">50.8</td>
      </tr>
      <tr>
        <td>17</td>
        <td>07444</td>
        <td><a href="/Population/City/07444">福島県三島町</a></td>
        <td class="wright">1,668</td>
        <td class="wright">844</td>
        <td class="wright">50.6</td>
      </tr>
      <tr>
        <td>18</td>
        <td>02303</td>
        <td><a href="/Population/City/02303">青森県今別町</a></td>
        <td class="wright">2,756</td>
        <td class="wright">1,392</td>
        <td class="wright">50.5</td>
      </tr>
      <tr>
        <td>19</td>
        <td>20602</td>
        <td><a href="/Population/City/20602">長野県栄村</a></td>
        <td class="wright">1,953</td>
        <td class="wright">983</td>
        <td class="wright">50.3</td>
      </tr>
      <tr>
        <td>20</td>
        <td>07548</td>
        <td><a href="/Population/City/07548">福島県葛尾村</a></td>
        <td class="wright">18</td>
        <td class="wright">9</td>
        <td class="wright">50.0</td>
      </tr>
      <tr>
        <td>21</td>
        <td>32527</td>
        <td><a href="/Population/City/32527">島根県知夫村</a></td>
        <td class="wright">615</td>
        <td class="wright">305</td>
        <td class="wright">49.6</td>
      </tr>
      <tr>
        <td>22</td>
        <td>36342</td>
        <td><a href="/Population/City/36342">徳島県神山町</a></td>
        <td class="wright">5,300</td>
        <td class="wright">2,622</td>
        <td class="wright">49.5</td>
      </tr>
      <tr>
        <td>23</td>
        <td>29444</td>
        <td><a href="/Population/City/29444">奈良県黒滝村</a></td>
        <td class="wright">660</td>
        <td class="wright">326</td>
        <td class="wright">49.4</td>
      </tr>
      <tr>
        <td>24</td>
        <td>20410</td>
        <td><a href="/Population/City/20410">長野県根羽村</a></td>
        <td class="wright">970</td>
        <td class="wright">478</td>
        <td class="wright">49.3</td>
      </tr>
      <tr>
        <td>25</td>
        <td>34368</td>
        <td><a href="/Population/City/34368">広島県安芸太田町</a></td>
        <td class="wright">6,453</td>
        <td class="wright">3,179</td>
        <td class="wright">49.3</td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<p>
  2010年のデータも参考までに残しておきます。<br />
  ⇒<a href="/population/Aging2010">市町村高齢化ランキング2010</a>
</p>
<div class="table-responsive">
  <table border="0" class="ectable">
    <tbody>
      <tr>
        <td>順位</td>
        <td>コード</td>
        <td>市町村</td>
        <td>人口</td>
        <td>65歳以上</td>
        <td>高齢化率</td>
      </tr>
      <tr>
        <td class="wright">1</td>
        <td>10383</td>
        <td><a href="/Population/City/10383">群馬県南牧村</a></td>
        <td class="wright">2,423</td>
        <td class="wright">1,387</td>
        <td class="wright">57.2</td>
      </tr>
      <tr>
        <td class="wright">2</td>
        <td>07445</td>
        <td><a href="/Population/City/07445">福島県金山町</a></td>
        <td class="wright">2,462</td>
        <td class="wright">1,356</td>
        <td class="wright">55.1</td>
      </tr>
      <tr>
        <td class="wright">3</td>
        <td>20413</td>
        <td><a href="/Population/City/20413">長野県天龍村</a></td>
        <td class="wright">1,657</td>
        <td class="wright">896</td>
        <td class="wright">54.1</td>
      </tr>
      <tr>
        <td class="wright">4</td>
        <td>39344</td>
        <td><a href="/Population/City/39344">高知県大豊町</a></td>
        <td class="wright">4,719</td>
        <td class="wright">2,549</td>
        <td class="wright">54.0</td>
      </tr>
      <tr>
        <td class="wright">5</td>
        <td>07446</td>
        <td><a href="/Population/City/07446">福島県昭和村</a></td>
        <td class="wright">1,500</td>
        <td class="wright">798</td>
        <td class="wright">53.2</td>
      </tr>
      <tr>
        <td class="wright">6</td>
        <td>36302</td>
        <td><a href="/Population/City/36302">徳島県上勝町</a></td>
        <td class="wright">1,783</td>
        <td class="wright">935</td>
        <td class="wright">52.4</td>
      </tr>
      <tr>
        <td class="wright">7</td>
        <td>10367</td>
        <td><a href="/Population/City/10367">群馬県神流町</a></td>
        <td class="wright">2,352</td>
        <td class="wright">1,231</td>
        <td class="wright">52.3</td>
      </tr>
      <tr>
        <td class="wright">8</td>
        <td>20417</td>
        <td><a href="/Population/City/20417">長野県大鹿村</a></td>
        <td class="wright">1,160</td>
        <td class="wright">598</td>
        <td class="wright">51.6</td>
      </tr>
      <tr>
        <td class="wright">9</td>
        <td>29452</td>
        <td><a href="/Population/City/29452">奈良県川上村</a></td>
        <td class="wright">1,643</td>
        <td class="wright">833</td>
        <td class="wright">50.7</td>
      </tr>
      <tr>
        <td class="wright">10</td>
        <td>30427</td>
        <td><a href="/Population/City/30427">和歌山県北山村</a></td>
        <td class="wright">486</td>
        <td class="wright">245</td>
        <td class="wright">50.4</td>
      </tr>
      <tr>
        <td class="wright">11</td>
        <td>39387</td>
        <td><a href="/Population/City/39387">高知県仁淀川町</a></td>
        <td class="wright">6,500</td>
        <td class="wright">3,267</td>
        <td class="wright">50.3</td>
      </tr>
      <tr>
        <td class="wright">12</td>
        <td>29453</td>
        <td><a href="/Population/City/29453">奈良県東吉野村</a></td>
        <td class="wright">2,142</td>
        <td class="wright">1,057</td>
        <td class="wright">49.3</td>
      </tr>
      <tr>
        <td class="wright">13</td>
        <td>35341</td>
        <td><a href="/Population/City/35341">山口県上関町</a></td>
        <td class="wright">3,332</td>
        <td class="wright">1,628</td>
        <td class="wright">48.9</td>
      </tr>
      <tr>
        <td class="wright">14</td>
        <td>30424</td>
        <td><a href="/Population/City/30424">和歌山県古座川町</a></td>
        <td class="wright">3,103</td>
        <td class="wright">1,496</td>
        <td class="wright">48.2</td>
      </tr>
      <tr>
        <td class="wright">15</td>
        <td>23562</td>
        <td><a href="/Population/City/23562">愛知県東栄町</a></td>
        <td class="wright">3,756</td>
        <td class="wright">1,795</td>
        <td class="wright">47.8</td>
      </tr>
      <tr>
        <td class="wright">16</td>
        <td>35305</td>
        <td><a href="/Population/City/35305">山口県周防大島町</a></td>
        <td class="wright">19,079</td>
        <td class="wright">9,101</td>
        <td class="wright">47.7</td>
      </tr>
      <tr>
        <td class="wright">17</td>
        <td>19364</td>
        <td><a href="/Population/City/19364">山梨県早川町</a></td>
        <td class="wright">1,246</td>
        <td class="wright">593</td>
        <td class="wright">47.6</td>
      </tr>
      <tr>
        <td class="wright">18</td>
        <td>07444</td>
        <td><a href="/Population/City/07444">福島県三島町</a></td>
        <td class="wright">1,925</td>
        <td class="wright">912</td>
        <td class="wright">47.4</td>
      </tr>
      <tr>
        <td class="wright">19</td>
        <td>31401</td>
        <td><a href="/Population/City/31401">鳥取県日南町</a></td>
        <td class="wright">5,460</td>
        <td class="wright">2,556</td>
        <td class="wright">46.8</td>
      </tr>
      <tr>
        <td class="wright">20</td>
        <td>32527</td>
        <td><a href="/Population/City/32527">島根県知夫村</a></td>
        <td class="wright">657</td>
        <td class="wright">305</td>
        <td class="wright">46.4</td>
      </tr>
      <tr>
        <td class="wright">21</td>
        <td>36342</td>
        <td><a href="/Population/City/36342">徳島県神山町</a></td>
        <td class="wright">6,038</td>
        <td class="wright">2,801</td>
        <td class="wright">46.4</td>
      </tr>
      <tr>
        <td class="wright">22</td>
        <td>19443</td>
        <td><a href="/Population/City/19443">山梨県丹波山村</a></td>
        <td class="wright">685</td>
        <td class="wright">317</td>
        <td class="wright">46.3</td>
      </tr>
      <tr>
        <td class="wright">23</td>
        <td>20602</td>
        <td><a href="/Population/City/20602">長野県栄村</a></td>
        <td class="wright">2,215</td>
        <td class="wright">1,023</td>
        <td class="wright">46.2</td>
      </tr>
      <tr>
        <td class="wright">24</td>
        <td>23563</td>
        <td><a href="/Population/City/23563">愛知県豊根村</a></td>
        <td class="wright">1,336</td>
        <td class="wright">612</td>
        <td class="wright">45.8</td>
      </tr>
    </tbody>
  </table>
</div>
<p>注:人口は、高齢化率を計算するため年齢不詳を除いた数値です。</p>
<p>出典　平成２２年国勢調査　<br /><br /></p>
