<p>鹿児島県の三島村、十島村、沖縄県の竹富町の３町村は、町村内に役場がなく、それぞれ鹿児島市と石垣市に役場を置いています。町村内のいずれかの島に役場を置くと、他の島の住民が不便になることから、全島の平等性等を考慮して役場を地域の中心的な市に設置しているようです。</p>
<p>また、2011年3月の東京電力福島原子力発電所の事故により、現在、福島県双葉郡の楢葉町、富岡町、大熊町、双葉町、浪江町、葛尾村の6町村が町村外に仮の役場を設置しています。広野町はいわき市内に、川内村も仮役場を郡山市にあるビッグパレットふくしま内に仮役場を設置していましたが、広野町は2012年2月に、川内村は2012年4月に役場機能を元の役場に戻しています。</p>
<p>なお、1988年まで青森県の東通村が役場を隣の田名部町（むつ市）に設置していました。その理由としては、村内の集落が点在し道路が未整備だったためということです。</p>
<p>関係リンク</p>
<p><a href="http://www.mishimamura.jp/">三島村ホームページ</a><br/><br/> <a href="http://www.tokara.jp/">十島村ホームページ</a><br/><br/> <a href="http://www.taketomi-islands.jp/">竹富町ホームページ</a><br/><br/> <a href="http://www.net.pref.aomori.jp/higashidoori/">東通村ホームページ</a>
</p>

