<p>岐阜県高山市の面積は2,177.67km²で、東京都の島嶼部を除いた面積とほぼ同じであり、大阪府の1,901.42km²、香川県の*1,876.58km²より面積が広く、都道府県の面積よりも広い全国で唯一の市町村です。<br /> 下の表は、平成25年全国都道府県市区町村別面積調により、市区町村の面積は、大きい順に20位まで表示したものです。</p>
<p>全国の市町村を面積順に並べた表を作成していますので、そちらも参考にしてください。<br />⇒<a href="/population/ListOfCitiesByArea">市区町村の面積ランキング</a></p>
<div class="table-responsive">
    <table border="0" class="ectable">
        <thead>
            <tr>
                <td style="text-align: center;">順位</td>
                <td style="text-align: center;">コード</td>
                <td style="text-align: center;">市町村</td>
                <td style="text-align: center;">面積 (km²)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="wright">1</td>
                <td>21203</td>
                <td><a href="/Population/City/21203">岐阜県高山市 </a></td>
                <td class="wright">2,177.67</td>
            </tr>
            <tr>
                <td class="wright">2</td>
                <td>22130</td>
                <td><a href="/Population/City/22130">静岡県浜松市 </a></td>
                <td class="wright">*1,558.04</td>
            </tr>
            <tr>
                <td class="wright">3</td>
                <td>09206</td>
                <td><a href="/Population/City/09206">栃木県日光市 </a></td>
                <td class="wright">1,449.87</td>
            </tr>
            <tr>
                <td class="wright">4</td>
                <td>01208</td>
                <td><a href="/Population/City/01208">北海道北見市 </a></td>
                <td class="wright">1,427.56</td>
            </tr>
            <tr>
                <td class="wright">5</td>
                <td>22100</td>
                <td><a href="/Population/City/22100">静岡県静岡市 </a></td>
                <td class="wright">*1,411.93</td>
            </tr>
            <tr>
                <td class="wright">6</td>
                <td>01647</td>
                <td><a href="/Population/City/01647">北海道足寄町 </a></td>
                <td class="wright">1,408.09</td>
            </tr>
            <tr>
                <td class="wright">7</td>
                <td>01206</td>
                <td><a href="/Population/City/01206">北海道釧路市 </a></td>
                <td class="wright">1,362.75</td>
            </tr>
            <tr>
                <td class="wright">8</td>
                <td>01555</td>
                <td><a href="/Population/City/01555">北海道遠軽町 </a></td>
                <td class="wright">*1,332.32</td>
            </tr>
            <tr>
                <td class="wright">9</td>
                <td>01691</td>
                <td><a href="/Population/City/01691">北海道別海町 </a></td>
                <td class="wright">1,320.23</td>
            </tr>
            <tr>
                <td class="wright">10</td>
                <td>06203</td>
                <td><a href="/Population/City/06203">山形県鶴岡市 </a></td>
                <td class="wright">*1,311.51</td>
            </tr>
            <tr>
                <td class="wright">11</td>
                <td>03202</td>
                <td><a href="/Population/City/03202">岩手県宮古市 </a></td>
                <td class="wright">1,259.89</td>
            </tr>
            <tr>
                <td class="wright">12</td>
                <td>03209</td>
                <td><a href="/Population/City/03209">岩手県一関市 </a></td>
                <td class="wright">1,256.25</td>
            </tr>
            <tr>
                <td class="wright">13</td>
                <td>34210</td>
                <td><a href="/Population/City/34210">広島県庄原市 </a></td>
                <td class="wright">1,246.60</td>
            </tr>
            <tr>
                <td class="wright">14</td>
                <td>16201</td>
                <td><a href="/Population/City/16201">富山県富山市 </a></td>
                <td class="wright">*1,241.85</td>
            </tr>
            <tr>
                <td class="wright">15</td>
                <td>07204</td>
                <td><a href="/Population/City/07204">福島県いわき市 </a></td>
                <td class="wright">1,231.35</td>
            </tr>
            <tr>
                <td class="wright">16</td>
                <td>05210</td>
                <td><a href="/Population/City/05210">秋田県由利本荘市 </a></td>
                <td class="wright">1,209.08</td>
            </tr>
            <tr>
                <td class="wright">17</td>
                <td>15212</td>
                <td><a href="/Population/City/15212">新潟県村上市 </a></td>
                <td class="wright">*1,174.24</td>
            </tr>
            <tr>
                <td class="wright">18</td>
                <td>05213</td>
                <td><a href="/Population/City/05213">秋田県北秋田市 </a></td>
                <td class="wright">1,152.57</td>
            </tr>
            <tr>
                <td class="wright">19</td>
                <td>01610</td>
                <td><a href="/Population/City/01610">北海道新ひだか町 </a></td>
                <td class="wright">1,147.75</td>
            </tr>
            <tr>
                <td class="wright">20</td>
                <td>01100</td>
                <td><a href="/Population/City/01100">北海道札幌市 </a></td>
                <td class="wright">1,121.12</td>
            </tr>
        </tbody>
    </table>
</div>
<p>面積の*は、境界未定の市区町村に関して、総務省が定めた便宜上の概算値です。</p>
<p>出典　国土地理院　<a href="http://www.gsi.go.jp/KOKUJYOHO/MENCHO-title.htm" target="_blank">全国都道府県市区町村別面積調</a></p>
