<p>気象庁の年降水量の平年値の記録（データは気象庁の<a href="http://www.data.jma.go.jp/obd/stats/etrn/">過去の気象データ検索のページ</a>から取得）では、鹿児島県屋久島が1位で4477mm、宮崎県えびのが2位で4393mmとなっています。</p>
<p>第1位の屋久島は、気象庁の観測地点はないものの山岳地域は年に8000mmの雨が降るといわれており、最も降水量が多いのは鹿児島県の屋久島町だといってもいいでしょう。屋久島は、屋久杉で有名で、豊かで美しい自然が残されており、島の中央部の宮之浦岳を含む屋久杉自生林などがユネスコの世界自然遺産に登録されています。</p>
<p>第2位の宮崎県えびのは、1993年に年降水量が8670mmという年降水量の日本記録を持っています。</p>
<p>第3位は、高知県馬路村の魚梁瀬の4115mmとなっています。馬路村は、魚梁瀬杉とユズが有名な高知県東部の村です。四国の南東斜面も雨の多いところです。</p>
<p>第4位が三重県の尾鷲で3922mmです。尾鷲は日降水量の日本記録 806mmを持っています。雨が多いことで有名な奈良県と三重県に跨る大台ヶ原ですが、気象庁の観測地点がないため記録はありませんが、尾鷲の降水量からみれば多いということは間違いないとおもわれます。</p>
<p>第5位が富山県宇奈月で3594mmです。日本で雨の多いところといえば、太平洋側の南東斜面を思い浮かべますが、日本海側の降雪地帯も降水量の多い場所です。</p>
<p>以下は、年降水量の平年値の上位20地点です。全地点の年降水量については、<a href="http://weather.time-j.net/Weather/Precipitation">年降水量（平年値）ランキングのページ</a>を参考にしてください。</p>
<h6>年降水量の平年値の上位20地点</h6>
<div class="table-responsive">
    <table border="0" class="ectable">
        <tbody>
            <tr><th>順位</th><th>地点</th><th>年降水量(mm)</th><th>統計期間</th><th>資料年数</th></tr>
            <tr>
                <td>1</td>
                <td><a href="http://www.data.jma.go.jp/obd/stats/etrn/view/nml_sfc_ym.php?prec_no=88&amp;prec_ch=%8e%ad%8e%99%93%87%8c%a7&amp;block_no=47836&amp;block_ch=%89%ae%8bv%93%87&amp;year=&amp;month=&amp;day=&amp;elm=normal&amp;view=" target="_blank">鹿児島県屋久島</a></td>
                <td class="wright">4477.2</td>
                <td>1981~2010</td>
                <td class="wcenter">30</td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="http://www.data.jma.go.jp/obd/stats/etrn/view/nml_amd_ym.php?prec_no=87&amp;prec_ch=%8b%7b%8d%e8%8c%a7&amp;block_no=0862&amp;block_ch=%82%a6%82%d1%82%cc&amp;year=&amp;month=&amp;day=&amp;elm=normal&amp;view=" target="_blank">宮崎県えびの</a></td>
                <td class="wright">4393.0</td>
                <td>1981~2010</td>
                <td class="wcenter">30</td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="http://www.data.jma.go.jp/obd/stats/etrn/view/nml_amd_ym.php?prec_no=74&amp;prec_ch=%8d%82%92m%8c%a7&amp;block_no=1281&amp;block_ch=%8b%9b%97%c0%90%a3&amp;year=&amp;month=&amp;day=&amp;elm=normal&amp;view=" target="_blank">高知県魚梁瀬</a></td>
                <td class="wright">4107.9</td>
                <td>1981~2010</td>
                <td class="wcenter">30</td>
            </tr>
            <tr>
                <td>4</td>
                <td><a href="http://www.data.jma.go.jp/obd/stats/etrn/view/nml_sfc_ym.php?prec_no=53&amp;prec_ch=%8eO%8fd%8c%a7&amp;block_no=47663&amp;block_ch=%94%f6%98h&amp;year=&amp;month=&amp;day=&amp;elm=normal&amp;view=" target="_blank">三重県尾鷲</a></td>
                <td class="wright">3848.8</td>
                <td>1981~2010</td>
                <td class="wcenter">30</td>
            </tr>
            <tr>
                <td>5</td>
                <td><a href="http://www.data.jma.go.jp/obd/stats/etrn/view/nml_amd_ym.php?prec_no=55&amp;prec_ch=%95x%8eR%8c%a7&amp;block_no=1412&amp;block_ch=%89F%93%de%8c%8e&amp;year=&amp;month=&amp;day=&amp;elm=normal&amp;view=" target="_blank">富山県宇奈月</a></td>
                <td class="wright">3566.2</td>
                <td>1984~2010</td>
                <td class="wcenter">27</td>
            </tr>
            <tr>
                <td>6</td>
                <td><a href="http://www.data.jma.go.jp/obd/stats/etrn/view/nml_amd_ym.php?prec_no=46&amp;prec_ch=%90_%93%de%90%ec%8c%a7&amp;block_no=0390&amp;block_ch=%94%a0%8d%aa&amp;year=&amp;month=&amp;day=&amp;elm=normal&amp;view=" target="_blank">神奈川県箱根</a></td>
                <td class="wright">3538.5</td>
                <td>1981~2010</td>
                <td class="wcenter">30</td>
            </tr>
            <tr>
                <td>7</td>
                <td><a href="http://www.data.jma.go.jp/obd/stats/etrn/view/nml_amd_ym.php?prec_no=65&amp;prec_ch=%98a%89%cc%8eR%8c%a7&amp;block_no=1172&amp;block_ch=%90F%90%ec&amp;year=&amp;month=&amp;day=&amp;elm=normal&amp;view=" target="_blank">和歌山県色川</a></td>
                <td class="wright">3528.2</td>
                <td>1981~2010</td>
                <td class="wcenter">30</td>
            </tr>
            <tr>
                <td>8</td>
                <td><a href="http://www.data.jma.go.jp/obd/stats/etrn/view/nml_amd_ym.php?prec_no=74&amp;prec_ch=%8d%82%92m%8c%a7&amp;block_no=0757&amp;block_ch=%8d%b2%8a%ec%95l&amp;year=&amp;month=&amp;day=&amp;elm=normal&amp;view=" target="_blank">高知県佐喜浜</a></td>
                <td class="wright">3403.9</td>
                <td>1981~2010</td>
                <td class="wcenter">30</td>
            </tr>
            <tr>
                <td>9</td>
                <td><a href="http://www.data.jma.go.jp/obd/stats/etrn/view/nml_amd_ym.php?prec_no=87&amp;prec_ch=%8b%7b%8d%e8%8c%a7&amp;block_no=1164&amp;block_ch=%90%5b%90%a3&amp;year=&amp;month=&amp;day=&amp;elm=normal&amp;view=" target="_blank">宮崎県深瀬</a></td>
                <td class="wright">3370.9</td>
                <td>1981~2010</td>
                <td class="wcenter">30</td>
            </tr>
            <tr>
                <td>10</td>
                <td><a href="http://www.data.jma.go.jp/obd/stats/etrn/view/nml_amd_ym.php?prec_no=74&amp;prec_ch=%8d%82%92m%8c%a7&amp;block_no=0754&amp;block_ch=%91D%8c%cb&amp;year=&amp;month=&amp;day=&amp;elm=normal&amp;view=" target="_blank">高知県船戸</a></td>
                <td class="wright">3328.7</td>
                <td>1981~2010</td>
                <td class="wcenter">30</td>
            </tr>
            <tr>
                <td>11</td>
                <td><a href="http://www.data.jma.go.jp/obd/stats/etrn/view/nml_amd_ym.php?prec_no=65&amp;prec_ch=%98a%89%cc%8eR%8c%a7&amp;block_no=1347&amp;block_ch=%90%bc%90%ec&amp;year=&amp;month=&amp;day=&amp;elm=normal&amp;view=" target="_blank">和歌山県西川</a></td>
                <td class="wright">3314.1</td>
                <td>1981~2010</td>
                <td class="wcenter">30</td>
            </tr>
            <tr>
                <td>12</td>
                <td><a href="http://www.data.jma.go.jp/obd/stats/etrn/view/nml_amd_ym.php?prec_no=88&amp;prec_ch=%8e%ad%8e%99%93%87%8c%a7&amp;block_no=0899&amp;block_ch=%94%f6%94V%8a%d4&amp;year=&amp;month=&amp;day=&amp;elm=normal&amp;view=" target="_blank">鹿児島県尾之間</a></td>
                <td class="wright">3245.7</td>
                <td>1981~2010</td>
                <td class="wcenter">30</td>
            </tr>
            <tr>
                <td>13</td>
                <td><a href="http://www.data.jma.go.jp/obd/stats/etrn/view/nml_amd_ym.php?prec_no=54&amp;prec_ch=%90V%8a%83%8c%a7&amp;block_no=1111&amp;block_ch=%90%d4%92J&amp;year=&amp;month=&amp;day=&amp;elm=normal&amp;view=" target="_blank">新潟県赤谷</a></td>
                <td class="wright">3234.8</td>
                <td>1981~2010</td>
                <td class="wcenter">30</td>
            </tr>
            <tr>
                <td>14</td>
                <td><a href="http://www.data.jma.go.jp/obd/stats/etrn/view/nml_amd_ym.php?prec_no=52&amp;prec_ch=%8a%f2%95%8c%8c%a7&amp;block_no=0486&amp;block_ch=%92M%8c%a9&amp;year=&amp;month=&amp;day=&amp;elm=normal&amp;view=" target="_blank">岐阜県樽見</a></td>
                <td class="wright">3228.9</td>
                <td>1981~2010</td>
                <td class="wcenter">30</td>
            </tr>
            <tr>
                <td>15</td>
                <td><a href="http://www.data.jma.go.jp/obd/stats/etrn/view/nml_sfc_ym.php?prec_no=86&amp;prec_ch=%8cF%96%7b%8c%a7&amp;block_no=47821&amp;block_ch=%88%a2%91h%8eR&amp;year=&amp;month=&amp;day=&amp;elm=normal&amp;view=" target="_blank">熊本県阿蘇山</a></td>
                <td class="wright">3206.2</td>
                <td>1981~2010</td>
                <td class="wcenter">30</td>
            </tr>
            <tr>
                <td>16</td>
                <td><a href="http://www.data.jma.go.jp/obd/stats/etrn/view/nml_sfc_ym.php?prec_no=44&amp;prec_ch=%93%8c%8b%9e%93s&amp;block_no=47678&amp;block_ch=%94%aa%8f%e4%93%87&amp;year=&amp;month=&amp;day=&amp;elm=normal&amp;view=" target="_blank">東京都八丈島</a></td>
                <td class="wright">3202.4</td>
                <td>1981~2010</td>
                <td class="wcenter">30</td>
            </tr>
            <tr>
                <td>17</td>
                <td><a href="http://www.data.jma.go.jp/obd/stats/etrn/view/nml_amd_ym.php?prec_no=54&amp;prec_ch=%90V%8a%83%8c%a7&amp;block_no=1256&amp;block_ch=%8d%82%8d%aa&amp;year=&amp;month=&amp;day=&amp;elm=normal&amp;view=" target="_blank">新潟県高根</a></td>
                <td class="wright">3148.4</td>
                <td>1981~2010</td>
                <td class="wcenter">30</td>
            </tr>
            <tr>
                <td>18</td>
                <td><a href="http://www.data.jma.go.jp/obd/stats/etrn/view/nml_amd_ym.php?prec_no=53&amp;prec_ch=%8eO%8fd%8c%a7&amp;block_no=1255&amp;block_ch=%8b%7b%90%ec&amp;year=&amp;month=&amp;day=&amp;elm=normal&amp;view=" target="_blank">三重県宮川</a></td>
                <td class="wright">3147.5</td>
                <td>1981~2010</td>
                <td class="wcenter">30</td>
            </tr>
            <tr>
                <td>19</td>
                <td><a href="http://www.data.jma.go.jp/obd/stats/etrn/view/nml_amd_ym.php?prec_no=65&amp;prec_ch=%98a%89%cc%8eR%8c%a7&amp;block_no=0649&amp;block_ch=%90V%8b%7b&amp;year=&amp;month=&amp;day=&amp;elm=normal&amp;view=" target="_blank">和歌山県新宮</a></td>
                <td class="wright">3126.8</td>
                <td>1981~2010</td>
                <td class="wcenter">30</td>
            </tr>
            <tr>
                <td>20</td>
                <td><a href="http://www.data.jma.go.jp/obd/stats/etrn/view/nml_amd_ym.php?prec_no=74&amp;prec_ch=%8d%82%92m%8c%a7&amp;block_no=0747&amp;block_ch=%94%c9%93%a1&amp;year=&amp;month=&amp;day=&amp;elm=normal&amp;view=" target="_blank">高知県繁藤</a></td>
                <td class="wright">3122.2</td>
                <td>1981~2010</td>
                <td class="wcenter">30</td>
            </tr>
        </tbody>
    </table>
</div>
<p> </p>
<p>出典　気象庁　 <a href="http://www.data.jma.go.jp/obd/stats/etrn/view/atlas.html"> 降水量平年値分布図</a><a href="http://www.data.jma.go.jp/obd/stats/data/mdrr/atlas/precipitation/precipitation_13.pdf"></a></p>
<p>気象庁　 <a href="http://www.data.jma.go.jp/obd/stats/etrn/view/annually_s.php?prec_no=88&amp;prec_ch=%8E%AD%8E%99%93%87%8C%A7&amp;block_no=47836&amp;block_ch=%89%AE%8Bv%93%87&amp;year=&amp;month=&amp;day=&amp;view=a1"> 屋久島測候所の年ごとの降水量</a> <a href="http://www.data.jma.go.jp/obd/stats/etrn/view/annually_a.php?prec_no=87&amp;prec_ch=%8B%7B%8D%E8%8C%A7&amp;block_no=0862&amp;block_ch=%82%A6%82%D1%82%CC&amp;year=&amp;month=&amp;day=&amp;view=a1"> えびの測候所の年ごとの降水量</a></p>
