<p>厚生労働省の平成19年～平成24年人口動態保健所・市区町村別統計の合計特殊出生率（女性が生涯に産む子ども数の推計値）によると、鹿児島県の徳之島にある伊仙町が最も高く2.81となっています。20位までを九州・沖縄で占めています。</p>
<p>合計特殊出生率が低い市区町村では東京都の区部が多くなっていますが、大阪府豊能町、埼玉県鳩山町、北海道当別町、茨城県利根町のように大都市の周辺にあって1990年頃に人口が急増し、それ以後はまた人口が急速に減少している寂しい町が含まれています。</p>
<p>なお、全国平均は、1.37となっているので、地域による差は結構あります。</p>
<p>市町村の合計特殊出生率が高い順でランキングを作成していますので、そちらも参考にしてください。<br />⇒<a href="/Population/ListOfCitiesByTfr">市区町村の特殊合計出生率ランキング</a></p>
<p>表１　合計特殊出生率の高いい順に20市区町村</p>
<div class="table-responsive">
    <table border="0" class="ectable">
        <thead>
            <tr height="54" style="height: 40.5pt;">
                <td class="xl63" width="51" height="54" style="width: 38pt; height: 40.5pt; text-align: center;">順位</td>
                <td>コード</td>
                <td class="xl63" width="162" style="border-left: medium none; width: 122pt; text-align: center;">市区町村</td>
                <td class="xl63" width="72" style="border-left: medium none; width: 54pt; text-align: center;">合計特殊出生率</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="wright">1</td>
                <td>46532</td>
                <td><a href="/Population/City/46532">鹿児島県伊仙町</a></td>
                <td class="wright">2.81</td>
            </tr>
            <tr>
                <td class="wright">2</td>
                <td>47361</td>
                <td><a href="/Population/City/47361">沖縄県久米島町</a></td>
                <td class="wright">2.31</td>
            </tr>
            <tr>
                <td class="wright">3</td>
                <td>47214</td>
                <td><a href="/Population/City/47214">沖縄県宮古島市</a></td>
                <td class="wright">2.27</td>
            </tr>
            <tr>
                <td class="wright">4</td>
                <td>47313</td>
                <td><a href="/Population/City/47313">沖縄県宜野座村</a></td>
                <td class="wright">2.20</td>
            </tr>
            <tr>
                <td class="wright">5</td>
                <td>46530</td>
                <td><a href="/Population/City/46530">鹿児島県徳之島町</a></td>
                <td class="wright">2.18</td>
            </tr>
            <tr>
                <td class="wright">5</td>
                <td>42209</td>
                <td><a href="/Population/City/42209">長崎県対馬市</a></td>
                <td class="wright">2.18</td>
            </tr>
            <tr>
                <td class="wright">7</td>
                <td>47314</td>
                <td><a href="/Population/City/47314">沖縄県金武町</a></td>
                <td class="wright">2.17</td>
            </tr>
            <tr>
                <td class="wright">8</td>
                <td>47207</td>
                <td><a href="/Population/City/47207">沖縄県石垣市</a></td>
                <td class="wright">2.16</td>
            </tr>
            <tr>
                <td class="wright">9</td>
                <td>42210</td>
                <td><a href="/Population/City/42210">長崎県壱岐市</a></td>
                <td class="wright">2.14</td>
            </tr>
            <tr>
                <td class="wright">10</td>
                <td>46531</td>
                <td><a href="/Population/City/46531">鹿児島県天城町</a></td>
                <td class="wright">2.12</td>
            </tr>
            <tr>
                <td class="wright">11</td>
                <td>46535</td>
                <td><a href="/Population/City/46535">鹿児島県与論町</a></td>
                <td class="wright">2.10</td>
            </tr>
            <tr>
                <td class="wright">12</td>
                <td>47350</td>
                <td><a href="/Population/City/47350">沖縄県南風原町</a></td>
                <td class="wright">2.09</td>
            </tr>
            <tr>
                <td class="wright">13</td>
                <td>43501</td>
                <td><a href="/Population/City/43501">熊本県錦町</a></td>
                <td class="wright">2.08</td>
            </tr>
            <tr>
                <td class="wright">14</td>
                <td>47357</td>
                <td><a href="/Population/City/47357">沖縄県南大東村</a></td>
                <td class="wright">2.07</td>
            </tr>
            <tr>
                <td class="wright">14</td>
                <td>43514</td>
                <td><a href="/Population/City/43514">熊本県あさぎり町</a></td>
                <td class="wright">2.07</td>
            </tr>
            <tr>
                <td class="wright">14</td>
                <td>47375</td>
                <td><a href="/Population/City/47375">沖縄県多良間村</a></td>
                <td class="wright">2.07</td>
            </tr>
            <tr>
                <td class="wright">17</td>
                <td>46525</td>
                <td><a href="/Population/City/46525">鹿児島県瀬戸内町</a></td>
                <td class="wright">2.06</td>
            </tr>
            <tr>
                <td class="wright">17</td>
                <td>46404</td>
                <td><a href="/Population/City/46404">鹿児島県長島町</a></td>
                <td class="wright">2.06</td>
            </tr>
            <tr>
                <td class="wright">19</td>
                <td>46505</td>
                <td><a href="/Population/City/46505">鹿児島県屋久島町</a></td>
                <td class="wright">2.03</td>
            </tr>
            <tr>
                <td class="wright">19</td>
                <td>47212</td>
                <td><a href="/Population/City/47212">沖縄県豊見城市</a></td>
                <td class="wright">2.03</td>
            </tr>
            <tr>
                <td class="wright">19</td>
                <td>46502</td>
                <td><a href="/Population/City/46502">鹿児島県南種子町</a></td>
                <td class="wright">2.03</td>
            </tr>
            <tr>
                <td class="wright">19</td>
                <td>40349</td>
                <td><a href="/Population/City/40349">福岡県粕屋町</a></td>
                <td class="wright">2.03</td>
            </tr>
        </tbody>
    </table>
</div>
<p>表2　合計特殊出生率の低い順に20市区町村</p>
<div class="table-responsive">
    <table border="0" class="ectable">
        <thead>
            <tr height="54" style="height: 40.5pt;">
                <td class="xl63" width="51" height="54" style="width: 38pt; height: 40.5pt; text-align: center;">順位</td>
                <td>コード</td>
                <td class="xl63" width="162" style="border-left: medium none; width: 122pt; text-align: center;">市区町村</td>
                <td class="xl63" width="72" style="border-left: medium none; width: 54pt; text-align: center;">合計特殊出生率</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="wright">1</td>
                <td>13116</td>
                <td><a href="/Population/City/13116">東京都豊島区</a></td>
                <td class="wright">0.81</td>
            </tr>
            <tr>
                <td class="wright">2</td>
                <td>27321</td>
                <td><a href="/Population/City/27321">大阪府豊能町</a></td>
                <td class="wright">0.82</td>
            </tr>
            <tr>
                <td class="wright">3</td>
                <td>13114</td>
                <td><a href="/Population/City/13114">東京都中野区</a></td>
                <td class="wright">0.85</td>
            </tr>
            <tr>
                <td class="wright">3</td>
                <td>13104</td>
                <td><a href="/Population/City/13104">東京都新宿区</a></td>
                <td class="wright">0.85</td>
            </tr>
            <tr>
                <td class="wright">5</td>
                <td>13110</td>
                <td><a href="/Population/City/13110">東京都目黒区</a></td>
                <td class="wright">0.86</td>
            </tr>
            <tr>
                <td class="wright">6</td>
                <td>13113</td>
                <td><a href="/Population/City/13113">東京都渋谷区</a></td>
                <td class="wright">0.87</td>
            </tr>
            <tr>
                <td class="wright">7</td>
                <td>13112</td>
                <td><a href="/Population/City/13112">東京都世田谷区</a></td>
                <td class="wright">0.92</td>
            </tr>
            <tr>
                <td class="wright">8</td>
                <td>13105</td>
                <td><a href="/Population/City/13105">東京都文京区</a></td>
                <td class="wright">0.93</td>
            </tr>
            <tr>
                <td class="wright">9</td>
                <td>11326</td>
                <td><a href="/Population/City/11326">埼玉県毛呂山町</a></td>
                <td class="wright">0.94</td>
            </tr>
            <tr>
                <td class="wright">10</td>
                <td>13203</td>
                <td><a href="/Population/City/13203">東京都武蔵野市</a></td>
                <td class="wright">0.95</td>
            </tr>
            <tr>
                <td class="wright">11</td>
                <td>11348</td>
                <td><a href="/Population/City/11348">埼玉県鳩山町</a></td>
                <td class="wright">0.96</td>
            </tr>
            <tr>
                <td class="wright">12</td>
                <td>13115</td>
                <td><a href="/Population/City/13115">東京都杉並区</a></td>
                <td class="wright">0.97</td>
            </tr>
            <tr>
                <td class="wright">13</td>
                <td>13308</td>
                <td><a href="/Population/City/13308">東京都奥多摩町</a></td>
                <td class="wright">1.00</td>
            </tr>
            <tr>
                <td class="wright">14</td>
                <td>13109</td>
                <td><a href="/Population/City/13109">東京都品川区</a></td>
                <td class="wright">1.01</td>
            </tr>
            <tr>
                <td class="wright">14</td>
                <td>1303</td>
                <td><a href="/Population/City/01303">北海道当別町</a></td>
                <td class="wright">1.01</td>
            </tr>
            <tr>
                <td class="wright">14</td>
                <td>8564</td>
                <td><a href="/Population/City/08564">茨城県利根町</a></td>
                <td class="wright">1.01</td>
            </tr>
            <tr>
                <td class="wright">17</td>
                <td>13101</td>
                <td><a href="/Population/City/13101">東京都千代田区</a></td>
                <td class="wright">1.02</td>
            </tr>
            <tr>
                <td class="wright">17</td>
                <td>13219</td>
                <td><a href="/Population/City/13219">東京都狛江市</a></td>
                <td class="wright">1.02</td>
            </tr>
            <tr>
                <td class="wright">19</td>
                <td>13117</td>
                <td><a href="/Population/City/13117">東京都北区</a></td>
                <td class="wright">1.04</td>
            </tr>
            <tr>
                <td class="wright">19</td>
                <td>13204</td>
                <td><a href="/Population/City/13204">東京都三鷹市</a></td>
                <td class="wright">1.04</td>
            </tr>
        </tbody>
    </table>
</div>
<p>出典　政府統計の総合窓口　 <a href="http://www.mhlw.go.jp/toukei/saikin/hw/jinkou/other/hoken09/">平成20～24年　人口動態保健所・市区町村別統計</a>の「合計特殊出生率・母の年齢階級別出生率,　都道府県・保健所・市区町村別」</p>
<p>解説　厚生労働省　<a href="http://www.mhlw.go.jp/toukei/saikin/hw/jinkou/other/hoken14/index.html">平成20年～平成24年人口動態保健所・市区町村別統計の概況</a></p>
