<p>国立社会保障・人口問題研究所の『日本の地域別将来推計人口（平成25年3月推計）』によれば、2010年から2040年の30年間で65歳以上の人口が最も増加する市区町村は、横浜市です。横浜市は、2040年の65歳以上の人口は約124万人と推計され、2010年の約74万人から約50万人も増加すると推計されています。上位20位までは、以下のとおりで大都市では今後急速に高齢者が増加し、医療機関や介護保険施設に対する需要が急増することになります。そのため、今後は首都圏を中心に医師、看護師、介護職員の不足の問題が深刻になると考えられます。</p>
<p>一方、地方都市では人口減少が進み、高齢化率は増加するものの高齢者の人口自体は減少する市町村があります。呉市では、65歳以上の人口が2010年の6万人から2040年には5万人と約1万人減少すると推計されています。上位10位までの市町村を表2に示しましたがこれらの市町村では深刻な人口減少の問題を抱えていると思います。</p>
<p>今後高齢者が増加する市町村のランキングを作成していますので、そちらも参考にしてください。<br />⇒<a href="/Population/CityAging2040">今後高齢者が増加する市町村のランキング</a></p>
<p>表1 65歳以上の人口が2010年から2040年までに増加する市町村の上位２０位まで</p>
<div class="table-responsive">
    <table border="0" class="ectable">
        <tbody>
            <tr>
                <td>順位</td>
                <td> </td>
                <td>市 区 町 村</td>
                <td>2040年</td>
                <td>2010年</td>
                <td>増加人口</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="wright">1</td>
                <td>14100</td>
                <td><a href="/Population/City/14100">神奈川県横浜市</a></td>
                <td class="wright">1,238,209</td>
                <td class="wright">741,214</td>
                <td class="wright">496,995</td>
            </tr>
            <tr>
                <td class="wright">2</td>
                <td>01100</td>
                <td><a href="/Population/City/01100">北海道札幌市</a></td>
                <td class="wright">683,748</td>
                <td class="wright">393,230</td>
                <td class="wright">290,518</td>
            </tr>
            <tr>
                <td class="wright">3</td>
                <td>23100</td>
                <td><a href="/Population/City/23100">愛知県名古屋市</a></td>
                <td class="wright">713,029</td>
                <td class="wright">481,005</td>
                <td class="wright">232,024</td>
            </tr>
            <tr>
                <td class="wright">4</td>
                <td>40130</td>
                <td><a href="/Population/City/40130">福岡県福岡市</a></td>
                <td class="wright">484,569</td>
                <td class="wright">259,037</td>
                <td class="wright">225,532</td>
            </tr>
            <tr>
                <td class="wright">5</td>
                <td>14130</td>
                <td><a href="/Population/City/14130">神奈川県川崎市</a></td>
                <td class="wright">454,411</td>
                <td class="wright">240,264</td>
                <td class="wright">214,147</td>
            </tr>
            <tr>
                <td class="wright">6</td>
                <td>27100</td>
                <td><a href="/Population/City/27100">大阪府大阪市</a></td>
                <td class="wright">810,394</td>
                <td class="wright">604,756</td>
                <td class="wright">205,638</td>
            </tr>
            <tr>
                <td class="wright">7</td>
                <td>11100</td>
                <td><a href="/Population/City/11100">埼玉県さいたま市</a></td>
                <td class="wright">394,935</td>
                <td class="wright">235,360</td>
                <td class="wright">159,575</td>
            </tr>
            <tr>
                <td class="wright">8</td>
                <td>04100</td>
                <td><a href="/Population/City/04100">宮城県仙台市</a></td>
                <td class="wright">348,356</td>
                <td class="wright">194,617</td>
                <td class="wright">153,739</td>
            </tr>
            <tr>
                <td class="wright">9</td>
                <td>28100</td>
                <td><a href="/Population/City/28100">兵庫県神戸市</a></td>
                <td class="wright">509,611</td>
                <td class="wright">357,901</td>
                <td class="wright">151,710</td>
            </tr>
            <tr>
                <td class="wright">10</td>
                <td>34100</td>
                <td><a href="/Population/City/34100">広島県広島市</a></td>
                <td class="wright">380,932</td>
                <td class="wright">236,958</td>
                <td class="wright">143,974</td>
            </tr>
            <tr>
                <td class="wright">11</td>
                <td>13120</td>
                <td><a href="/Population/City/13120">東京都練馬区</a></td>
                <td class="wright">281,420</td>
                <td class="wright">138,258</td>
                <td class="wright">143,162</td>
            </tr>
            <tr>
                <td class="wright">12</td>
                <td>26100</td>
                <td><a href="/Population/City/26100">京都府京都市</a></td>
                <td class="wright">471,067</td>
                <td class="wright">340,171</td>
                <td class="wright">130,896</td>
            </tr>
            <tr>
                <td class="wright">13</td>
                <td>12100</td>
                <td><a href="/Population/City/12100">千葉県千葉市</a></td>
                <td class="wright">332,845</td>
                <td class="wright">205,941</td>
                <td class="wright">126,904</td>
            </tr>
            <tr>
                <td class="wright">14</td>
                <td>13112</td>
                <td><a href="/Population/City/13112">東京都世田谷区</a></td>
                <td class="wright">273,482</td>
                <td class="wright">160,663</td>
                <td class="wright">112,819</td>
            </tr>
            <tr>
                <td class="wright">15</td>
                <td>14150</td>
                <td><a href="/Population/City/14150">神奈川県相模原市</a></td>
                <td class="wright">236,252</td>
                <td class="wright">139,039</td>
                <td class="wright">97,213</td>
            </tr>
            <tr>
                <td class="wright">16</td>
                <td>12204</td>
                <td><a href="/Population/City/12204">千葉県船橋市</a></td>
                <td class="wright">192,903</td>
                <td class="wright">119,632</td>
                <td class="wright">73,271</td>
            </tr>
            <tr>
                <td class="wright">17</td>
                <td>13123</td>
                <td><a href="/Population/City/13123">東京都江戸川区</a></td>
                <td class="wright">192,478</td>
                <td class="wright">123,042</td>
                <td class="wright">69,436</td>
            </tr>
            <tr>
                <td class="wright">18</td>
                <td>43100</td>
                <td><a href="/Population/City/43100">熊本県熊本市</a></td>
                <td class="wright">223,470</td>
                <td class="wright">155,060</td>
                <td class="wright">68,410</td>
            </tr>
            <tr>
                <td class="wright">19</td>
                <td>13111</td>
                <td><a href="/Population/City/13111">東京都大田区</a></td>
                <td class="wright">208,981</td>
                <td class="wright">141,382</td>
                <td class="wright">67,599</td>
            </tr>
            <tr>
                <td class="wright">20</td>
                <td>13201</td>
                <td><a href="/Population/City/13201">東京都八王子市</a></td>
                <td class="wright">186,951</td>
                <td class="wright">120,432</td>
                <td class="wright">66,519</td>
            </tr>
        </tbody>
    </table>
    <p>表2 65歳以上の人口が2010年から2040年までに減少する市町村の上位10位まで</p>
    <table border="0" class="ectable">
        <thead>
            <tr>
                <td>順位</td>
                <td> </td>
                <td>市 区 町 村</td>
                <td>2040年</td>
                <td>2010年</td>
                <td>減少人口</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="wright">1</td>
                <td>34202</td>
                <td><a href="/Population/City/34202">広島県呉市</a></td>
                <td class="wright">60,196</td>
                <td class="wright">70,265</td>
                <td class="wright">10,069</td>
            </tr>
            <tr>
                <td class="wright">2</td>
                <td>01203</td>
                <td><a href="/Population/City/01203">北海道小樽市</a></td>
                <td class="wright">33,513</td>
                <td class="wright">41,607</td>
                <td class="wright">8,094</td>
            </tr>
            <tr>
                <td class="wright">3</td>
                <td>15224</td>
                <td><a href="/Population/City/15224">新潟県佐渡市</a></td>
                <td class="wright">16,338</td>
                <td class="wright">23,103</td>
                <td class="wright">6,765</td>
            </tr>
            <tr>
                <td class="wright">4</td>
                <td>43215</td>
                <td><a href="/Population/City/43215">熊本県天草市</a></td>
                <td class="wright">24,300</td>
                <td class="wright">29,906</td>
                <td class="wright">5,606</td>
            </tr>
            <tr>
                <td class="wright">5</td>
                <td>04213</td>
                <td><a href="/Population/City/04213">宮城県栗原市</a></td>
                <td class="wright">19,134</td>
                <td class="wright">24,391</td>
                <td class="wright">5,257</td>
            </tr>
            <tr>
                <td class="wright">6</td>
                <td>40202</td>
                <td><a href="/Population/City/40202">福岡県大牟田市</a></td>
                <td class="wright">32,709</td>
                <td class="wright">37,956</td>
                <td class="wright">5,247</td>
            </tr>
            <tr>
                <td class="wright">7</td>
                <td>34205</td>
                <td><a href="/Population/City/34205">広島県尾道市</a></td>
                <td class="wright">39,095</td>
                <td class="wright">44,066</td>
                <td class="wright">4,971</td>
            </tr>
            <tr>
                <td class="wright">8</td>
                <td>01205</td>
                <td><a href="/Population/City/01205">北海道室蘭市</a></td>
                <td class="wright">23,025</td>
                <td class="wright">27,716</td>
                <td class="wright">4,691</td>
            </tr>
            <tr>
                <td class="wright">9</td>
                <td>35204</td>
                <td><a href="/Population/City/35204">山口県萩市</a></td>
                <td class="wright">14,363</td>
                <td class="wright">18,860</td>
                <td class="wright">4,497</td>
            </tr>
            <tr>
                <td class="wright">10</td>
                <td>34210</td>
                <td><a href="/Population/City/34210">広島県庄原市</a></td>
                <td class="wright">10,688</td>
                <td class="wright">15,169</td>
                <td class="wright">4,481</td>
            </tr>
        </tbody>
    </table>
</div>
<p>出典　国立社会保障・人口問題研究所　<a href="http://www.ipss.go.jp/pp-shicyoson/j/shicyoson13/t-page.asp">『日本の地域別将来推計人口（平成25年3月推計）』</a></p>
