<p>富山県舟橋村が、面積3.47km<sup>2</sup>で日本一面積の小さい市町村です。舟橋村は、北陸地方唯一の村ですが、平成22年国勢調査では、人口増加率が11.0%で全国14位、幼少年（15歳未満）人口の割合が21.8%で全国1位と、元気で活力のある村です。</p>
<p>下の表は「全国都道府県市区町村別面積調」による平成25年10月1日現在の市町村の面積で、面積の小さい順に20位までは以下のとおりとなっています。</p>
<p>全国の市町村を面積順に並べた表を作成していますので、そちらも参考にしてください。<br /><a href="/population/ListOfCitiesByArea">市区町村の面積ランキング</a></p>
<div class="table-responsive">
    <table border="0" class="ectable">
        <thead>
            <tr>
                <td style="text-align: center;">順位</td>
                <td style="text-align: center;">コード</td>
                <td style="text-align: center;">市町村</td>
                <td style="text-align: center;">面積 (km²)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="wright">1</td>
                <td>16321</td>
                <td><a href="/Population/City/16321">富山県舟橋村</a></td>
                <td class="wright">3.47</td>
            </tr>
            <tr>
                <td class="wright">2</td>
                <td>47356</td>
                <td><a href="/Population/City/47356">沖縄県渡名喜村</a></td>
                <td class="wright">3.84</td>
            </tr>
            <tr>
                <td class="wright">3</td>
                <td>27341</td>
                <td><a href="/Population/City/27341">大阪府忠岡町</a></td>
                <td class="wright">4.03</td>
            </tr>
            <tr>
                <td class="wright">4</td>
                <td>29362</td>
                <td><a href="/Population/City/29362">奈良県三宅町</a></td>
                <td class="wright">4.07</td>
            </tr>
            <tr>
                <td class="wright">5</td>
                <td>13362</td>
                <td><a href="/Population/City/13362">東京都利島村</a></td>
                <td class="wright">4.12</td>
            </tr>
            <tr>
                <td class="wright">6</td>
                <td>31384</td>
                <td><a href="/Population/City/31384">鳥取県日吉津村</a></td>
                <td class="wright">4.16</td>
            </tr>
            <tr>
                <td class="wright">7</td>
                <td>29345</td>
                <td><a href="/Population/City/29345">奈良県安堵町</a></td>
                <td class="wright">4.33</td>
            </tr>
            <tr>
                <td class="wright">8</td>
                <td>11223</td>
                <td><a href="/Population/City/11223">埼玉県蕨市</a></td>
                <td class="wright">5.10</td>
            </tr>
            <tr>
                <td class="wright">8</td>
                <td>47348</td>
                <td><a href="/Population/City/47348">沖縄県与那原町</a></td>
                <td class="wright">5.10</td>
            </tr>
            <tr>
                <td class="wright">10</td>
                <td>21421</td>
                <td><a href="/Population/City/21421">岐阜県北方町</a></td>
                <td class="wright">5.17</td>
            </tr>
            <tr>
                <td class="wright">11</td>
                <td>27362</td>
                <td><a href="/Population/City/27362">大阪府田尻町</a></td>
                <td class="wright">5.60</td>
            </tr>
            <tr>
                <td class="wright">12</td>
                <td>40642</td>
                <td><a href="/Population/City/40642">福岡県吉富町</a></td>
                <td class="wright">5.68</td>
            </tr>
            <tr>
                <td class="wright">13</td>
                <td>29361</td>
                <td><a href="/Population/City/29361">奈良県川西町</a></td>
                <td class="wright">5.94</td>
            </tr>
            <tr>
                <td class="wright">14</td>
                <td>30422</td>
                <td><a href="/Population/City/30422">和歌山県太地町</a></td>
                <td class="wright">5.96</td>
            </tr>
            <tr>
                <td class="wright">15</td>
                <td>26303</td>
                <td><a href="/Population/City/26303">京都府大山崎町</a></td>
                <td class="wright">5.97</td>
            </tr>
            <tr>
                <td class="wright">16</td>
                <td>13402</td>
                <td><a href="/Population/City/13402">東京都青ヶ島村</a></td>
                <td class="wright">5.98</td>
            </tr>
            <tr>
                <td class="wright">17</td>
                <td>24343</td>
                <td><a href="/Population/City/24343">三重県朝日町</a></td>
                <td class="wright">5.99</td>
            </tr>
            <tr>
                <td class="wright">18</td>
                <td>29424</td>
                <td><a href="/Population/City/29424">奈良県上牧町</a></td>
                <td class="wright">6.14</td>
            </tr>
            <tr>
                <td class="wright">19</td>
                <td>23342</td>
                <td><a href="/Population/City/23342">愛知県豊山町</a></td>
                <td class="wright">6.19</td>
            </tr>
            <tr>
                <td class="wright">20</td>
                <td>13219</td>
                <td><a href="/Population/City/13219">東京都狛江市</a></td>
                <td class="wright">6.39</td>
            </tr>
        </tbody>
    </table>
</div>
<p>出典　国土地理院　<a href="http://www.gsi.go.jp/KOKUJYOHO/MENCHO-title.htm" target="_blank">全国都道府県市区町村別面積調</a></p>
<p>関係リンク　舟橋村　<a href="http://www.vill.funahashi.toyama.jp/welcome/greeting.html" target="_blank">ようこそ舟橋村へ</a></p>
